<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Gift Code4U</h1>
                  <p>
                    Giftcode4U is Driven by smart technology
                  </p>
                  <div class="port-flx">
                    <a href="https://play.google.com/store/apps/details?id=com.versatilemobitech.giftcode4u"
                      target="_blank"><img src="assets/images/portfolio/inner/play-store.png" class="img-fluid"
                        alt="..."></a>
                    <a href="https://apps.apple.com/us/app/giftcode4u/id1457815141" target="_blank"> <img
                        src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."></a>
                    <a href="https://www.giftcode4u.com/" target="_blank"><img
                        src="assets/images/portfolio/inner/website.png" class="img-fluid" alt="..."></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio2/giftcode-mobile.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio2/giftcode-mobile-2.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Giftcode4U is Driven by smart technology, giving users the freedom to shop however, whenever and whenever they
          like.Shop Gift Cards Online at GiftCode4u - iTunes Gift Cards, Google Play Cards, Playstation Gift Cards and
          Steam Wallet Gift Cards online.
        </p>
        <p>Select your required gift cards from various categories like iTunes, Google Play, Steam, xBox, Playstation,
          Nintendo eShop, Skype, Netflix, Uber, Facebook and many more.Pay through your preferred payment mode - Credit
          or Debit card, Bank Transfer, Wallet, Apple Pay & Google Pay. Your payment transaction is processed in a
          secure way.Get Digital codes in few minutes to your Email and SMS. You can even send the gift cards to your
          loved ones with custom message.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio2/giftcodeMockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
              alt="Request a call back"></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="" class="req_btn">Request Now</a>
        </div>
      </div>
    </div>
  </div> -->