<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Dinero</h1>
                <p>
                  On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                  demoralized by the charms of pleasure of the moment.
                </p>
                <div class="port-flx">
                  <a href="http://versatilemobitech.mobi/dinero/" target="_blank"><img
                    src="assets/images/portfolio/inner/website.png" class="img-fluid" alt="..."></a>
                </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <!-- <img src="assets/images/portfolio/inner/gati-mobile-2.png" data-animation="fadeInLeft"
                  class="img-fluid revealOnScroll" alt="..."> -->
                <img src="assets/images/portfolio/dinero-dektop.png" data-animation="fadeInLeft"
                  class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
            Dinero brand specialized in designing, creating, and selling iphone Cases. The business was first a simple idea with different sketches on a small piece of paper which went through a one year development by the founder Hamdan Al-Samt. Being a trucker caps collector he wanted to come up with the first National brand that only sells trucker caps. The brand provides high end caps that come in exceptional designs and special editions which are being manufactured in state of the art factories abroad.
        </p>
        
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/dinoro-mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->