<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="industries-bnr">
              <h1>Careers</h1>
              <h5>Your dream job does not exist you must create it.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- body section starts here -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-sm-12">
      <div class="cst-careers">
        <p>
          Versatile Mobitech is the right platform where you work together with some of the most proficient employees in
          a friendly and comfortable environment. We provide the perfect opportunity for every employee so that they can
          put out their best performance. It takes a best team to achieve great results. At Versatile Mobitech, it is
          our commitment to bring out the best in every team member and let every idea is heard. This is how we tackle
          challenging projects and deliver products we can all be proud of. If you are pretty passionate & enthusiastic
          about your work, take a look on Versatile Mobitech current openings. Interested Candidates can send their
          resume to
          <a href="mailto:hr@versatilemobitech.com">hr@versatilemobitech.com</a>
        </p>
      </div>
      <div class="career">
        <h2>Now we are looking for</h2>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="heading-1">
            <h6 class="mb-0 acc-heading">
              <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                aria-controls="collapse-1">
                HTML developer
              </a>
            </h6>
          </div>
          <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
            <div class="card-body">
              <p><strong>Experience:</strong> 3 to 5 Years</p>
              <p><strong>Description:</strong></p>
              <p>
                We are looking for HTML Integrators, responsible for both back-end and front-end development, including
                creating themes and plugins. This position requires a combination of programming skills (namely PHP,
                HTML5, CSS3, and JavaScript) and aesthetics (understanding element arrangements on the screen, the color
                and font choices, and so on).
              </p>
              <p>
                The candidate should have a strong understanding of industry trends and content management systems.
                Experience with the responsive and adaptive design is strongly preferred. Also, an understanding of the
                entire web development process, including design, development, and deployment is preferred.
              </p>
              <p><strong>Responsibilities:</strong></p>
              <ul>
                <li>Good command on PSD to HTML conversion</li>
                <li>Good Exposure on HTML, CSS and Photoshop</li>
                <li>Having knowledge on JQuery, wordpress &amp; bootstrap will be an added advantage</li>
                <li>Optimize applications for maximum speed</li>
                <li>Collaborate with back-end developers and web designers to improve usability</li>
                <li>Get feedback from, and build solutions for, users and customers</li>
                <li>Create quality mockups and prototypes</li>
                <li>Ensure high quality graphic standards and brand consistency</li>
                <li>Stay up-to-date on emerging technologies</li>
              </ul>
              <p><strong>Requirements:</strong></p>
              <ul>
                <li>Good exposure on Photoshop, HTML5, CSS3, Bootstrap, WordPress and Jquery</li>
                <li>Hands on experience with markup languages</li>
                <li>Good exposure on PSD to HTML conversion</li>
                <li>Familiarity with browser testing and debugging</li>
                <li>In-depth understanding of the entire web development process (design, development and deployment)
                </li>
                <li>Understanding of layout aesthetics</li>
                <li>Familiarity with software like Adobe Suite, Photoshop and content management systems</li>
                <li>An ability to perform well in a fast-paced environment</li>
                <li>Excellent analytical and multitasking skills</li>
                <li>Excellent communication skills</li>
              </ul>
              <p><strong>Benefits:</strong></p>
              <p>Corporate Health Insurance, Tax optimization, Earned Leaves, Wellness activities and Fun filled
                culture.</p>
              <div class="apply">
                <a class="button apply2" href="mailto:hr@versatilemobitech.com">Apply Now</a> or Mail Your Resume to <a
                  href="mailto:hr@versatilemobitech.com" class="apply-mobile-bottom">hr@versatilemobitech.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-2">
            <h6 class="mb-0 acc-heading">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                aria-controls="collapse-2">
                PHP Developer
              </a>
            </h6>
          </div>
          <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
            <div class="card-body">
              <p><strong>Experience:</strong> 3 to 5 Years</p>
              <p><strong>Description:</strong></p>
              <p> Java script, AJAX, HTML, CSS, Angularjs, Bootstrap, YII, Magento, Codeigniter.</p>
              <p><strong>Benefits:</strong></p>
              <p>Corporate Health Insurance, Tax optimization, Earned Leaves, Wellness activities and Fun filled
                culture.</p>
              <div class="apply">
                <a class="button apply2" ng-href="mailto:hr@versatilemobitech.com">Apply Now</a> or Mail Your Resume to
                <a href="mailto:hr@versatilemobitech.com" class="apply-mobile-bottom">hr@versatilemobitech.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-3">
            <h6 class="mb-0 acc-heading">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false"
                aria-controls="collapse-3">
                IOS Developer
              </a>
            </h6>
          </div>
          <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
            <div class="card-body">
              <p><strong>Experience:</strong> 3 to 5 Years</p>
              <p><strong>Description:</strong></p>
              <p> Objective C, Swift, Core Data,Sqlite, Core Animation,Map-kit, Soap Parsing, Rest Parsing, JSON
                parsing, XML, Cocoa pods, Cocoa Touch, Third party Integration, UI kit, Mao kit, Data Base, Story Board,
                XIB, web services parsing, Core Graphics, Bugs fixing.</p>
              <p><strong>Benefits:</strong></p>
              <p>Corporate Health Insurance, Tax optimization, Earned Leaves, Wellness activities and Fun filled
                culture.</p>
              <div class="apply">
                <a class="button apply2" href="mailto:hr@versatilemobitech.com">Apply Now</a> or Mail Your Resume to <a
                  href="mailto:hr@versatilemobitech.com" class="apply-mobile-bottom">hr@versatilemobitech.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- body section ends here -->