<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="industries-bnr">
              <h1>Industries</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-sm-12">
      <div class="header">
        <h2>Industries</h2> <br>
        <h5>These are some of the industries we’ve impacted through our specialized work.</h5>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Digital Media</h5>
        <p>
          We create digital media to cause impact. With photos and videos crafted for performance, we’ve perfected the
          art of digital media over the years.
        </p>
        <div class="cust-shadow">
          <img src="assets/images/industries/digital-media.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInLeft">
        <h5>Healthcare</h5>
        <p>
          Every life is precious. From small-scale HealthTech startups to enterprise level creation and integration,
          we’ve gathered the toolkit to guarantee us success.
        </p>
        <div class="cust-shadow ">
          <img src="assets/images/industries/health-care.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInRight">
        <h5>Political</h5>
        <p>Propel the message, spread the word. By building websites and apps for prominent political parties in India,
          we speak on behalf of these representatives, to India, our nation.</p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/political.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div> -->
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Restaurants</h5>
        <p>
          Make it easy on-ground, leave customers satisfied. With our ability to build high functioning apps and
          integrations for restaurants, we guarantee a great customer experience - from ordering till billing
        </p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/restaurants.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInRight">
        <h5>Ecommerce</h5>
        <p>
          You live online, your customers live offline. With websites and apps that can handle simultaneous orders, we
          ensure your customers love the interactions and the ease of purchase.
        </p>
        <div class="cust-shadow">
          <img src="assets/images/industries/e-commerce.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Education</h5>
        <p>
          From EdTech apps/websites to CRMs for speciality cases, we ensure that gaining an education isn’t a task, it’s
          a pleasure.
        </p>
        <div class="cust-shadow">
          <img src="assets/images/industries/education.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInDown">
        <h5>Government</h5>
        <p>
          Build for the billion, prepare for the next million. With websites and apps, accessible in multiple languages,
          we’ve built some of the most exquisite high-functioning portals.
        </p>
        <div class="cust-shadow">
          <img src="assets/images/industries/government.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInLeft">
        <h5>Financial</h5>
        <p>
          From banks till small-scale institutions, we’ve built safe, trusted, reliable portals for the population of
          today to access.
        </p>
        <div class="cust-shadow">
          <img src="assets/images/industries/financial.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Travel</h5>
        <p>
          From flight bookings till accommodation - we’ve built an end-to-end ecosystem to handle and manage individual
          travel needs.
        </p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/travel.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Real Estate</h5>
        <p>
          Buying property shouldn’t lead to more paperwork for anyone! With our integrated and updated softwares, we
          ease both side’s pain points - making it a pleasure to buy and sell.
        </p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/real-estate.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Aggregators</h5>
        <p>
          With the data and systems that need to be interconnected, aggregators’ success relies on the stability and
          security of systems! We help your website and app succeed.
        </p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/aggregators.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Enterprise</h5>
        <p>
          As you grow, so does your tech stack. We are here to ensure that every employee and your entire
          organization
          is taken care of.
        </p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/enterprise.png" class="img-fluid" alt="...">

        </div>
      </div>
    </div>



    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Utilities</h5>
        <p>
          Serving a single city or region, your need to be online and updated is crux. We’ve helped many companies just
          like yours to extend their reach with technology.
        </p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/utilities.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry2 swing">
        <a href="#" routerLink='/contact' class="intro-banner-vdo-play-btn pinkBg">
          <img src="assets/images/28.png">
          <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
          <span class="ripple pinkBg"></span>
          <span class="ripple pinkBg"></span>
          <span class="ripple pinkBg"></span>
        </a>
        <h5>Don't see your industry</h5>
        <p>We can help. Whatever your technology problem is, changes are, we've seen it before.</p>
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="gati-limg">
        <!-- <img src="../../assets/images/portfolio/inner/gati-logo.png" class="img-fluid" alt="..."> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->