<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="director-details animated fadeInUp">
        <div class="director-content">
          <div class="col-md-12">
            <h1>Rama Mogilipala</h1>
            <h5><span>Co-Founder & Director</span></h5>
            <hr>
            <p>Mrs Rama Srinivas is the Co-Founder of Versatile Mobitech located in Hyderabad, India. Mrs Rama Srinivas
              is
              a professional with over 6 years of experience in the technology sector.

            </p>
            <p>
              Since 2012, Mrs Rama Srinivas, ultimately serving as the Director of Versatile Mobitech Pvt. Ltd.

            </p>

            <p>
              Mrs Rama Srinivas holds a Masters of Business Administration degree from Osmania University, and a
              Bachelor's degree from Osmania University.

            </p>
            <p>
              Versatile Mobitech is creating the future, we are the one-stop solution for companies looking for an
              integrated all-rounded solution provider.
            </p>
            <ul class="director-social">
              <li><a href="https://www.linkedin.com/in/ramasrinivas-mogilipala-7292aa189/" target="_blank"><img
                    src="assets/images/directordetail/linkedin.png" alt="twitter"></a></li>
              <li><a href="https://www.facebook.com/rama.mogilipala" target="_blank"><img
                    src="assets/images/directordetail/facebook.png" alt="facebook"></a></li>
              <!--<li><a href="https://twitter.com/msrinivas91" target="_blank"><img
                        src="assets/images/directordetail/twitter.png" alt="twitter"></a></li> -->
              <!-- <li><a href="https://wa.me/919701930011"><img src="assets/images/directordetail/whatsapp.png" alt="whatsapp"></a></li>
                        <li><a href=""><img src="assets/images/directordetail/skype.png" alt="skype"></a></li>
                        <li><a href="mailto:sales@versatilemobitech.com"><img src="assets/images/directordetail/gmail.png" alt="gmail"></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>