.anddroid-app h2 {
    margin-bottom: 40px;
}
.enterprise li{
	margin-top: 15px;
}
.webdev img {
    width: 100%;
}
.iot-mt {
    margin-top: 80px !important;
}

.soci-icon img {
	margin-right: 30px;
}
.cst-top2 {
    margin-top: 6rem;
}
.mob-appln {
	margin-top: 30px;
}
.mob-appln p {
	text-align: justify;
}
.sml-img {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 15px;
}
.big-img {
	z-index: 2;
}

/** ripple effect **/
.circle-ripple {
	background-color: #ababab;
	width: 20em;
	height: 20em;
	position: absolute;
	right: 0;
	top: 70px;
	border-radius: 50%;
	animation: ripple 1.5s linear infinite;
  }
  @keyframes ripple {
	0% {
	  box-shadow: 0 0 0 0 rgba(128,128,128, 0.3), 0 0 0 1em rgba(128,128,128, 0.3), 0 0 0 3em rgba(128,128,128, 0.3), 0 0 0 5em rgba(128,128,128, 0.3);
	}
	100% {
	  box-shadow: 0 0 0 1em rgba(128,128,128, 0.3), 0 0 0 3em rgba(128,128,128, 0.3), 0 0 0 5em rgba(128,128,128, 0.3), 0 0 0 8em rgba(128,128,128, 0);
	}
  }

.no-pad {
	padding: 0;
}
.no-pad img {
	width: 100%;
}
.nopad2 {
	padding: 0;
}
.nopad2 img {
	width: 100%;
}
.mar-tp {
	margin-top: 100px;
}
.anddroid-app p {
	text-align: justify;
}
.anddroid-app {
	margin-top: 40px;
}
.dev-skills {
	text-align: center;
}
.dev-skills h4 {
	font-size: 44px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}


 @media (min-width: 576px) and (max-width: 767.98px) { 
	.big-img {
		width: 110px !important;  
	}
	.sml-img {
		width: 110px !important;
		bottom: unset;
    }
    .webdev img {
        width: 100% !important;
    }
  }

@media (max-width: 767.98px) {
	.big-img {
		width: 200px;
	}
	.sml-img {
		width: 150px;
	}
	.dev-skills h4 {
		font-size: 20px;
	}
	.header {
		font-size: 18px;
	}
	a.req_btn {
		position: relative !important;
	}
	.wrapper.request-callback {
		padding: 20px 0 !important
    }
    .webdev img {
        bottom: auto;
        position: relative;
    }
    .iot-mt {
        margin-top: 0 !important;
    }
    .soci-icon img {
        width: 60px;
        margin-right: 25px;
	}
	.bg-txt {
		width: 90% !important;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) { 
	.big-img {
		width: 150px;
	}
	.sml-img {
		width: 150px;
		bottom: unset;
    }
    .webdev img {
        position: relative;
        width: 100%;
        margin-top: 150px;
    }
 }

 @media (min-width: 992px) and (max-width: 1199.98px) { 
	.big-img {
		width: 220px;
	}
	.sml-img {
		width: 190px;
		position: relative;
    }
    .webdev img {
        position: relative;
        width: 100%;
        margin-top: 150px;
    }
  }

  .wrapper.request-callback {
    background: #efefef;
    box-shadow: 1px 5px 10px #000000;
    padding: 10px 0;
 }

 .header:after {background:#4db848;top: 50px;content: '';display: block;height: 6px;position: absolute;-webkit-transform: translate(0,0);transform: translate(0,0);width: 70px;}
  a.req_btn {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 5px;
    background-image: linear-gradient(#fe000a, #ce050d);
    border: 1px solid #ffffff;
	box-shadow: 1px 3px 5px #cccccc;
	position: absolute;
	top: 10px;
}
.anddroid-app h2::after{
	background: #4db848;
	content: '';
	display: block;
	height: 6px;
	position: absolute;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	width: 70px;
	margin-top: 10px;
}
.bg-txt {
	position: absolute;
	z-index: -1;
	top: 30px;
}

