<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Digitak</h1>
                  <p>
                    <!-- Vortex offers reliable and on-demand handler for your vehicles at one tap. -->
                  </p>
                  <div class="port-flx">
                    <a href="https://tak.digitak.se" target="_blank"><img
                        src="assets/images/portfolio/inner/website.png" class="img-fluid" alt="..."></a>
                    <button class="btn digi-button" data-toggle="modal" data-target=".bd-example-modal-lg">View
                      Demo</button>
                    <!-- <img src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="...">
                        <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/digitak/digitak-web.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                  <!-- <img src="assets/images/portfolio/inner/green/green-1.png" data-animation="fadeInLeft"
                      class="img-fluid revealOnScroll" alt="..."> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Digitak App give all Swedes the opportunity to get a quote on a roof exchange of a villa, townhouse or
          tenant-owner association in less than 30 seconds. This not only simplifies the purchase, quotation and
          decision-making process for buyers, but also for the craftsmen who carry out the work.
        </p>
        <h3>How it works</h3>
        <ul class="digi">
          <li><strong>Highlight your roof </strong> : Enter your address and mark out all the corners of the roof with
            the help of our roof calculation application.</li>
          <li><strong>Choose your roof design </strong> : Choose the image of the roof design closest to your house.
          </li>
          <li><strong>Choose your material</strong> : Choose the material you are interested in for your roofing
            Your price estimate is complete .
          </li>
        </ul>
        <h3>Digitak's pricing algorithm takes into account the following parameters
        </h3>
        <ul class="digi">
          <li>
            Size
          </li>
          <li>
            Design
          </li>
          <li>
            Desired material
          </li>
        </ul>
        <p>The price is available directly on the screen.</p>

      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/digitak/mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8">
            <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
                alt="Request a call back"></h2>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="" class="req_btn">Request Now</a>
          </div>
        </div>
      </div>
    </div> -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/portfolio/inner/digitak/digitak-gif.gif">
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header digi-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/portfolio/inner/digitak/digitak-gif.gif" class="w-100">
      </div>
    </div>
  </div>
</div>