<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>SEE Wheelers</h1>
                  <p>
                    SEE Wheelers is a social networking app with sustainability as its central, is user specific about
                    the Genre the user wants to explore.

                  </p>
                  <div class="port-flx">
                    <img src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="...">
                    <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="...">
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/see-wheelers/see-wheelers.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/inner/see-wheelers/see-wheelers1.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          SEE stands for ‘Social’, ‘Economical’ and ‘Environmental’ (considered to be the three pillars of
          sustainability) that together form the basis for this product/service. On the outset, SEE Wheelers is a
          mobile-based application (with a global outreach) that acts as a social networking platform for all the
          sustainability-conscious individuals as well as companies and enables them further to be able to create and
          own an ‘online sustainability footprint’ (i.e., the wheeler). The objective of creating the online
          sustainability footprint is to produce and deliver ‘impact’.

        </p>
        <p>The online sustainability footprint is created based on the users choice of sustainability dimensions (Ex -
          Recycling, Plasticless living, Health & wellness etc.,). Using the online sustainability footprint, users will
          not only be able to create useful content (feeding the wheeler) based on the dimensions selected for their
          footprints but also be able to build a network of individuals and companies that share a common
          concern(s)/dimensions of sustainability.</p>
        <p>The overall aim of the platform is to bring people, firms, and other types of entities together to create,
          share, and discuss the ideas/thoughts, actions, and achievements that have everything to do with
          sustainability. Majority of the dimensions of Social, Economical, and Environmental sustainability are being
          addressed in the application. These three areas are subdivided into different dimensions wherein users can
          pick and choose the dimensions of their interest (the dimensions that the users are most connected to). This
          leads to the creation of ‘online sustainability footprint’.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/see-wheelers-mockups.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->