<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Goodtimes</h1>
                  <h3>You can now book tickets for movies, concerts, sports and many other events happening in your
                    city. </h3>
                  <!-- <p>
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment.
                  </p> -->
                  <div class="port-flx">
                    <!-- <img src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="...">
                  <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/goodtimes-dektop.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="Good Times Image">
                  <!-- <img src="assets/images/portfolio/inner/gati-mobile-3.png" data-animation="fadeInRight"
                  class="img-fluid revealOnScroll" alt="..."> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          You can now book tickets for movies, concerts, sports and many other events happening in your city. You can
          book and buy movie tickets online where the app also lets you check movie show timings, list of theatres, read
          reviews & news. Movie booking now made easy.
        </p>
        <p>Goodtimes application is definitely a one-stop destination for all your ticketing and entertainment shows.
          movie shows, plays or comedy shows, music concerts for Malaysia
          Goodtimes is the best and latest place to check for movies and cinemas around you. Booking tickets are now an
          effortless, fun and exciting experience for every goodtimes customer.
        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="../../assets/images/portfolio/inner/Goodtimes-mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->