<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Samatha</h1>
                  <p>
                    A statewide initiative to empower various stakeholders at all levels to take action in aiding
                    children to lead a healthy and positive future. Samatha App, is a framework that simplifies and
                    assists every team member perform their job of fighting Anaemia.
                  </p>
                  <div class="port-flx">
                    <a href="https://play.google.com/store/apps/details?id=com.versatilemobitech.samatha"
                      target="_blank"><img src="assets/images/portfolio/inner/play-store.png" class="img-fluid"
                        alt="..."></a>
                    <!-- <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio2/samatha1.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="..."
                    href="https://play.google.com/store/apps/details?id=com.versatilemobitech.samatha">
                  <!-- <img src="assets/images/portfolio2/samatha.png" data-animation="fadeInRight"
                  class="img-fluid revealOnScroll" alt="..."> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Now, an ANM working at the ground level is empowered with a simplified tool that collates each child's
          information which can be filtered in to multiple aspects of information. Be it getting to know the number of
          children that are anaemic in a school, village or mandal; it can at the click of a button, it can also give
          you precise information of a particular child, his/her anaemia level, name, address, village, etc. The Samatha
          App can also identify patterns as well, thereby helping understand and take the best corrective action. This
          application, creates and delivers all required workflow reports that shall help all Health and Administrative
          stakeholders of the state of Telangana combat and win the battle of Anaemia. Positive push notifications guide
          the ANMs achieve their goals sooner by clearly showing the precise child and his/her location where care has
          to be administered. Such specific information coupled with mentoring and monitoring of state health
          administrators will surely improve the current scenario and up the health bar of the state.
        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/samatha-mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->