<div class="container desktop-header">
   <div class="row">
      <div class="col-sm-12">
         <nav class="navbar navbar-expand-lg navbar-light bg-light cust-nav">
            <div class="container">
               <a class="navbar-brand" routerLink="/"><img class="logo img-fluid" src="assets/images/vm2.png"
                     alt="Versatile Mobitech"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse hd-tp" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto cust-navbar-nav">
                     <li class="nav-item active">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           OUR COMPANY <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu our-company" aria-labelledby="navbarDropdown">
                           <a class="dropdown-item" routerLink="/about-us" (click)="scroll()">About Us</a>
                           <a class="dropdown-item" href="#" routerLink="/board-of-directors">Board of Directors</a>
                           <a class="dropdown-item" href="#" routerLink="/industries">Industries</a>
                        </div>
                     </li>

                     <li class="nav-item dropdown1">
                           <button class="dropbtn" routerLink="/services">SERVICES <i class="fa fa-angle-down"
                                 aria-hidden="true"></i>
                              <!-- <i class="fa fa-caret-down cust-dwn"></i> -->
                           </button>
                           <div class="dropdown-content1 our-company">
                              <div class="container mega-background">
                                 <div class="row">
                                    <div class="col-sm-4 column1">
                                       <h3 routerLink="/services/ux-ui-design">UX/UI Design</h3>
                                       <a href="#" routerLink="/services/ux-ui-design">Prototypes</a>
                                       <a href="#" routerLink="/services/ux-ui-design">Wireframe Design</a>
                                       <a href="#" routerLink="/services/ux-ui-design">Application Design</a>
                                       <a href="#" routerLink="/services/ux-ui-design">Web Design</a>
                                    </div>
                                    <div class="col-sm-4 column1">
                                       <h3 routerLink="/services/web-development">Web Design & Development</h3>
                                       <a href="#" routerLink="/services/web-development">Angular Development</a>
                                       <a href="#" routerLink="/services/web-development">Node JS Development</a>
                                       <a href="#" routerLink="/services/web-development">React JS Development</a>
                                       <a href="#" routerLink="/services/web-development">PHP Development</a>
                                       <a href="#" routerLink="/services/web-development">MongoDB Development</a>
                                    </div>
                                    <div class="col-sm-4 column1">
                                       <h3 routerLink="/services/mobile-applications">Mobile Application Development</h3>
                                       <a href="#" routerLink="/services/mobile-applications">Android Apps Development</a>
                                       <a href="#" routerLink="/services/mobile-applications">iOS Apps Development</a>
                                       <a href="#" routerLink="/services/mobile-applications">Ionic Apps Development</a>
                                       <a href="#" routerLink="/services/mobile-applications">Wearable Apps Development</a>
   
                                    </div>
   
                                    <div class="col-sm-4 column1">
                                       <h3 routerLink="/services/digital-marketing-and-seo">Digital Marketing</h3>
                                       <a href="#" routerLink="/services/digital-marketing-and-seo">Search Engine
                                          Optimization</a>
                                       <a href="#" routerLink="/services/digital-marketing-and-seo">Social Media
                                          Marketing</a>
                                       <a href="#" routerLink="/services/digital-marketing-and-seo">Social Media
                                          Optimization</a>
                                       <a href="#" routerLink="/services/digital-marketing-and-seo">Search Engine
                                          Marketing</a>
                                       <a href="#" routerLink="/services/digital-marketing-and-seo">Pay-per-click</a>
                                    </div>
   
                                    <div class="col-sm-4 column1">
                                       <h3 routerLink="/services/enterprise-solutions">Enterprise Solutions</h3>
                                       <a href="#" routerLink="/services/enterprise-solutions">Custom Enterprise Software
                                          Development</a>
                                       <a href="#" routerLink="/services/enterprise-solutions">Enterprise Application
                                          Integration</a>
                                       <a href="#" routerLink="/services/enterprise-solutions">Legacy App Upgrade and
                                          Modernization</a>
                                       <a href="#" routerLink="/services/enterprise-solutions">Enterprise Web & Mobile
                                          Application</a>
                                    </div>
                                    <div class="col-sm-4 column1" routerLink="/services/ml-and-ai">
                                       <h3>Machine Learning & Artificial Intelligence</h3>
                                       <a href="#" routerLink="/services/ml-and-ai">Machine Learning</a>
                                       <a href="#" routerLink="/services/ml-and-ai">Artificial Intelligence</a>
                                       <a href="#" routerLink="/services/ml-and-ai">Data Science</a>
                                       <a href="#" routerLink="/services/ml-and-ai">Deep Learning</a>
                                    </div>
                                    <div class="col-sm-4 column1">
                                       <h3 routerLink="/services/internet-of-things">IoT</h3>
                                       <a href="#" routerLink="/services/internet-of-things">IoT for Wearables</a>
                                       <a href="#" routerLink="/services/internet-of-things">IoT for Healthcare</a>
                                       <a href="#" routerLink="/services/internet-of-things">IoT for Transport</a>
                                       <a href="#" routerLink="/services/internet-of-things">IoT for Retail</a>
                                    </div>
                                    <div class="col-sm-4 column1">
                                       <h3 routerLink="/services/it-consulting">IT Consulting</h3>
                                    </div>
                                    <div class="col-sm-4 column1">
                                       <h3 routerLink="/services/tech-support">Tech Support</h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>

                     <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/portfolio" (click)="portfolio()">PORTFOLIO</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/contact" (click)="contact()">CONTACT US</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
   </div>
</div>



<div class="container mobile-header">
   <div class="row">
      <div class="col-sm-12">
         <nav class="navbar navbar-expand-lg navbar-light bg-light cust-nav">
            <div class="container">
               <a class="navbar-brand" href="#"><img class="logo img-fluid" src="assets/images/vm2.png"
                     alt="Versatile Mobitech"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse hd-tp" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto cust-navbar-nav mobile-header-height">
                     <li class="nav-item active">
                        <a class="nav-link" routerLink="/">HOME <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                        <div class="accordion dropdown-menulist" id="accordionExample">
                           <div class="">
                              <div class="" id="headingOne">
                                 <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                       data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                       OUR COMPANY <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                 </h2>
                              </div>
                              <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                 <div class="services-list-submenu">
                                    <a class="dropdown-item" routerLink="/about-us" (click)="scroll()">About Us</a>
                                    <a class="dropdown-item" href="#" routerLink="/board-of-directors">Board of
                                       Directors</a>
                                    <a class="dropdown-item" href="#" routerLink="/industries">Industries</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="nav-item">
                        <div class="accordion dropdown-menulist" id="accordionExample1">
                           <div class="">
                              <div class="" id="headingOne">
                                 <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" routerLink="/services"
                                       data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                       SERVICES <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                 </h2>
                              </div>
                              <div id="collapseOne1" class="collapse " aria-labelledby="headingOne"
                                 data-parent="#accordionExample1">
                                 <div class="services-list-submenu">
                                    <a class="dropdown-item" href="#" aria-expanded="false"
                                       routerLink="/services/ux-ui-design">UX/UI
                                       Design</a>
                                    <a class="dropdown-item" href="#" routerLink="/services/web-development">Web Design
                                       &
                                       Development</a>
                                    <a class="dropdown-item" href="#" routerLink="/services/mobile-applications">Mobile
                                       Application Development</a>
                                    <a class="dropdown-item" href="#" 
                                       routerLink="/services/digital-marketing-and-seo">Digital
                                       Marketing</a>
                                    <a class="dropdown-item" href="#" 
                                       routerLink="/services/enterprise-solutions">Enterprise
                                       Solutions</a>

                                    <a class="dropdown-item" href="#" routerLink="/services/ml-and-ai">Machine Learning
                                       &
                                       Artificial
                                       Intelligence</a>
                                    <a class="dropdown-item" href="#" routerLink="/services/internet-of-things">IoT</a>
                                    <a class="dropdown-item" href="#" routerLink="/services/it-consulting">IT
                                       Consulting</a>
                                    <a class="dropdown-item" href="#" routerLink="/services/tech-support">Tech
                                       Support</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/portfolio" (click)="portfolio()">PORTFOLIO</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/contact" (click)="contact()">CONTACT US</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
   </div>
</div>



<div class="container fixed-social-wrap">


   <!-- <p *ngIf="show" [@fadeInOut-1]>0.3 s</p>
           <p *ngIf="show" [@fadeInOut-2]>0.7 s</p>
           <p *ngIf="show" [@fadeInOut-3]>1 s</p>
           <button  class="btn btn-primary" (click)="show = !show">show / hide</button> -->

   <div class="row">
      <ul class="rem-icons">
         <li *ngIf="!show" [@fadeInOut-3]><a href="skype:srinivas.mogilipala?chat" target="_blank"><img
                  src="assets/images/skype.png" class="img-fluid" alt="Skype"></a></li>
         <!-- <li *ngIf="!show" [@fadeInOut-2]><a href="https://wa.me/919701930011" target="_blank"><img
                  src="assets/images/49.png" class="img-fluid" alt="WhatsApp"></a></li> -->
         <li *ngIf="!show" [@fadeInOut-1]><a href="mailto:sales@versatilemobitech.com"
               title="sales@versatilemobitech.com"><img src="assets/images/48.png" class="img-fluid" alt="Mail Us"></a>
         </li>
      </ul>

      <ul class="fixed-social animated slideInUp slow">
         <li id=""><a href="tel:+91 9701930011">
            </a>
            <div (click)="Toggle()">
               <span class="plus1" *ngIf="show"><img src="assets/images/9.png" alt="Plus"></span>
               <span class="minus1" *ngIf="!show"><img src="assets/images/minus.png" alt="minus"></span>
            </div>
         </li>
         <li><a href="tel:+971 54 786 2682" title="tel:+971 54 786 2682"><img src="assets/images/8.png"
                  class="img-fluid" alt="contact"></a></li>
         <!-- <li><img src="assets/images/7.png" class="img-fluid" alt="message"></li> -->
         <li><a href="https://wa.me/971564096960" target="_blank"><img src="assets/images/49.png" class="img-fluid"
                  alt="WhatsApp"></a></li>
      </ul>
   </div>

   <!-- <div class="row">
           <ul class="hidden-fixed-social animated slideInUp slow">
               <li><a href="" target="_blank"><img src="assets/images/skype.png" class="img-fluid"
                 alt="Skype"></a></li>
             <li><a href="https://wa.me/919701930011" target="_blank"><img src="assets/images/49.png" class="img-fluid"
                   alt="WhatsApp"></a></li>
             <li><a href="mailto:sales@versatilemobitech.com"><img src="assets/images/48.png" class="img-fluid"
                   alt="Mail Us"></a></li>
           </ul>
           <ul class="fixed-social animated slideInUp slow">
             <li id="expand-social"><a href="tel:+91 9701930011">
               </a>
               <div (click)="toggle()">
                 <span class="plus" *ngIf="isActive"><img src="assets/images/9.png" alt="Plus"></span>
                 <span class="minus" *ngIf="!isActive"><img src="assets/images/close.png" alt="minus"></span>
               </div>
             </li>
             <li><a href="tel:+91 9701930011"><img src="assets/images/8.png" class="img-fluid" alt="contact"></a></li>
             <li><img src="assets/images/7.png" class="img-fluid" alt="message"></li>
           </ul>
         </div> -->

</div>