<div class="container-fluid">
  <div class="row">
    <div class="director-details animated fadeInUp">
      <div class="director-content">
        <div class="col-md-12">
          <h1>Srinivas Mogilipala</h1>
          <h5><span>Managing Director & CEO </span></h5>
          <hr>
          <p>Mr.Srinivas Mogilipala is the Managing Director and CEO of Versatile Mobitech Pvt. Ltd located in
            Hyderabad,
            India.
            Versatile Mobitech Pvt. Ltd was started in 2012 with 5 members and a vision to be a comprehensive solution
            for
            companies of all sizes. 
          </p>
          <p>
            With just 5 members, Mr.Srinivas Mogilipala invested time into discovering their strengths, then, trained
            them,and
            sharpened their skillset and to ensure everyone was in fact industry ready.
          </p>
          <p>
            Mr. Srinivas Mogilipala is also the MD of Versatile IT Solutions LLC, Dubai and Director of Value Global
            Services, Malaysia.
          </p>
          <p>
            His vision to change the way companies engage service providers has set the precedent for Versatile for
            today and the years to come. As Versatile’s team grew over the years, we are currently 70+ employees and our
            turnover has peaked above 10CR.
          </p>
          <p>
            Before starting Versatile Mobitech Pvt. Ltd, Mr.Srinivas Mogilipala was a skilled UI developer at MayBank in
            Kuala
            Lumpur.
            Before working within design, Mr. Mogilipala was engaged as a Senior Mobility Developer at Cognizant
            Technology Solutions. His in-depth knowledge within design and development helped him to visualize the steps
            to fulfilling an even bigger dream.
          </p>
          <p>
            Versatile Mobitech Pvt. Ltd is creating the future, we are the one-stop solution for companies looking for
            an
            integrated all-rounded solution provider.
          </p>
          <ul class="director-social">
            <li><a href="https://www.linkedin.com/in/srinivasmogilipala/" target="_blank"><img
                  src="assets/images/directordetail/linkedin.png" alt="twitter"></a></li>
            <li><a href="https://www.facebook.com/srinivas.mogilipala" target="_blank"><img
                  src="assets/images/directordetail/facebook.png" alt="facebook"></a></li>
            <li><a href="https://twitter.com/msrinivas91" target="_blank"><img
                  src="assets/images/directordetail/twitter.png" alt="twitter"></a></li>
            <!-- <li><a href="https://wa.me/919701930011"><img src="assets/images/directordetail/whatsapp.png" alt="whatsapp"></a></li>
                  <li><a href=""><img src="assets/images/directordetail/skype.png" alt="skype"></a></li>
                  <li><a href="mailto:sales@versatilemobitech.com"><img src="assets/images/directordetail/gmail.png" alt="gmail"></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>