<!-- desktop menu -->
<nav class="navbar navbar-expand-lg navbar-light cust-nav desktop-view">
  <div class="container">
    <a href="#" class="navbar-brand cust2-navbar-brand"><img class="logo img-fluid"
        src="assets/images/vm-logo-white.png" alt="Versatile Mobitech"></a>
    <a class="navbar-toggler mobile-menu" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
    <div class="navbar-collapse collapse">

      <ul class="ml-auto navbar-nav cust-navbar-nav">
        <li class="nav-item active-home">
          <a class="nav-link" routerLink="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            OUR COMPANY <i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu our-company about-us-drop" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/about-us">About Us</a>
            <a class="dropdown-item" href="#" routerLink="/board-of-directors">Board of Directors</a>
            <a class="dropdown-item" href="#" routerLink="/industries">Industries</a>
          </div>
        </li>
        <li class="nav-item dropdown1">
          <button class="dropbtn" routerLink="/services">SERVICES <i class="fa fa-angle-down" aria-hidden="true"></i>
            <!-- <i class="fa fa-caret-down cust-dwn"></i> -->
          </button>
          <div class="dropdown-content1">
            <div class="container mega-background">
              <div class="row services-dropdown">
                <div class="col-sm-4 column1">
                  <h3 routerLink="/services/ux-ui-design">UX/UI Design</h3>
                  <a href="#" routerLink="/services/ux-ui-design">Prototypes</a>
                  <a href="#" routerLink="/services/ux-ui-design">Wireframe Design</a>
                  <a href="#" routerLink="/services/ux-ui-design">Application Design</a>
                  <a href="#" routerLink="/services/ux-ui-design">Web Design</a>
                </div>
                <div class="col-sm-4 column1">
                  <h3 routerLink="/services/web-development">Web Design & Development</h3>
                  <a href="#" routerLink="/services/web-development">Angular Development</a>
                  <a href="#" routerLink="/services/web-development">Node JS Development</a>
                  <a href="#" routerLink="/services/web-development">React JS Development</a>
                  <a href="#" routerLink="/services/web-development">PHP Development</a>
                  <a href="#" routerLink="/services/web-development">MongoDB Development</a>
                </div>
                <div class="col-sm-4 column1">
                  <h3 routerLink="/services/mobile-applications">Mobile Application Development</h3>
                  <a href="#" routerLink="/services/mobile-applications">Android Apps Development</a>
                  <a href="#" routerLink="/services/mobile-applications">iOS Apps Development</a>
                  <a href="#" routerLink="/services/mobile-applications">Ionic Apps Development</a>
                  <a href="#" routerLink="/services/mobile-applications">Wearable Apps Development</a>
                </div>

                <div class="col-sm-4 column1">
                  <h3 routerLink="/services/digital-marketing-and-seo">Digital Marketing</h3>
                  <a href="#" routerLink="/services/digital-marketing-and-seo">Search Engine Optimization</a>
                  <a href="#" routerLink="/services/digital-marketing-and-seo">Social Media Marketing</a>
                  <a href="#" routerLink="/services/digital-marketing-and-seo">Social Media Optimization</a>
                  <a href="#" routerLink="/services/digital-marketing-and-seo">Search Engine Marketing</a>
                  <a href="#" routerLink="/services/digital-marketing-and-seo">Pay-per-click</a>
                </div>

                <div class="col-sm-4 column1">
                  <h3 routerLink="/services/enterprise-solutions">Enterprise Solutions</h3>
                  <a href="#" routerLink="/services/enterprise-solutions">Custom Enterprise Software Development</a>
                  <a href="#" routerLink="/services/enterprise-solutions">Enterprise Application Integration</a>
                  <a href="#" routerLink="/services/enterprise-solutions">Legacy App Upgrade and Modernization</a>
                  <a href="#" routerLink="/services/enterprise-solutions">Enterprise Web & Mobile Application</a>
                </div>
                <div class="col-sm-4 column1" routerLink="/services/ml-and-ai">
                  <h3>Machine Learning & Artificial Intelligence</h3>
                  <a href="#" routerLink="/services/ml-and-ai">Machine Learning</a>
                  <a href="#" routerLink="/services/ml-and-ai">Artificial Intelligence</a>
                  <a href="#" routerLink="/services/ml-and-ai">Data Science</a>
                  <a href="#" routerLink="/services/ml-and-ai">Deep Learning</a>
                </div>
                <div class="col-sm-4 column1">
                  <h3 routerLink="/services/internet-of-things">IoT</h3>
                  <a href="#" routerLink="/services/internet-of-things">IoT for Wearables</a>
                  <a href="#" routerLink="/services/internet-of-things">IoT for Healthcare</a>
                  <a href="#" routerLink="/services/internet-of-things">IoT for Transport</a>
                  <a href="#" routerLink="/services/internet-of-things">IoT for Retail</a>

                </div>
                <div class="col-sm-4 column1">
                  <h3 routerLink="/services/it-consulting">IT Consulting</h3>
                </div>
                <div class="col-sm-4 column1">
                  <h3 routerLink="/services/tech-support">Tech Support</h3>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contact">CONTACT US</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- desktop menu -->

<!-- mobile menu -->
<nav class="navbar navbar-expand-lg navbar-light cust-nav mobile-view">
  <div class="container">
    <a href="#" class="navbar-brand cust2-navbar-brand"><img class="logo img-fluid"
        src="assets/images/vm-logo-white.png" alt="Versatile Mobitech"></a>
    <a class="navbar-toggler mobile-menu" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
    <div class="navbar-collapse collapse">

      <ul class="ml-auto navbar-nav cust-navbar-nav mobile-header-height">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">HOME <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <div class="accordion dropdown-menulist" id="accordionExample">
            <div class="">
              <div class="" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    OUR COMPANY <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="services-list-submenu">
                  <a class="dropdown-item" routerLink="/about-us" (click)="scroll()">About Us</a>
                  <a class="dropdown-item" href="#" routerLink="/board-of-directors">Board of Directors</a>
                  <a class="dropdown-item" href="#" routerLink="/industries">Industries</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown1">
          <div class="accordion dropdown-menulist" id="accordionExample1">
            <div class="">
              <div class="" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne1"
                    aria-expanded="true" aria-controls="collapseOne1" routerLink="/services">
                    SERVICES <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div id="collapseOne1" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample1">
                <div class="services-list-submenu">
                  <a class="dropdown-item" href="#" aria-expanded="false" routerLink="/services/ux-ui-design">UX/UI
                    Design</a>
                  <a class="dropdown-item" href="# " routerLink="/services/web-development">Web Design
                    &
                    Development</a>
                  <a class="dropdown-item" href="#" routerLink="/services/mobile-applications">Mobile
                    Application Development</a>
                  <a class="dropdown-item" href="#" routerLink="/services/digital-marketing-and-seo">Digital
                    Marketing</a>
                  <a class="dropdown-item" href="#" routerLink="/services/enterprise-solutions">Enterprise
                    Solutions</a>

                  <a class="dropdown-item" href="#" routerLink="/services/ml-and-ai">Machine Learning
                    &
                    Artificial
                    Intelligence</a>
                  <a class="dropdown-item" href="#" routerLink="/services/internet-of-things">IoT</a>
                  <a class="dropdown-item" href="#" routerLink="/services/it-consulting">IT
                    Consulting</a>
                  <a class="dropdown-item" href="#" routerLink="/services/tech-support">Tech
                    Support</a>
                </div>
              </div>
            </div>
          </div>

        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/portfolio" (click)="portfolio()">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contact" (click)="contact()">CONTACT US</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- <section class="first">
  <div class="container"></div>
</section> -->


<div class="">
  <div class="header-wrapper">
    <div class="zoominheader">
    </div>
  </div>
  <div class="container">
    <div class="banner-txt1">
      <h1>We are Versatile IT Solutions <br>Your innovation partners <br>for the digital age.</h1>
    </div>
  </div>
</div>

<div class="container fixed-social-wrap">


  <!-- <p *ngIf="show" [@fadeInOut-1]>0.3 s</p>
    <p *ngIf="show" [@fadeInOut-2]>0.7 s</p>
    <p *ngIf="show" [@fadeInOut-3]>1 s</p>
    <button  class="btn btn-primary" (click)="show = !show">show / hide</button> -->

  <div class="row">
    <ul class="rem-icons">
      <li *ngIf="!show" [@fadeInOut-3]><a href="skype:srinivas.mogilipala?chat" target="_blank"><img
            src="assets/images/skype.png" class="img-fluid" alt="Skype"></a></li>
      <!-- <li *ngIf="!show" [@fadeInOut-2]><a href="https://wa.me/919701930011" target="_blank"><img
            src="assets/images/49.png" class="img-fluid" alt="WhatsApp"></a></li> -->
      <li *ngIf="!show" [@fadeInOut-1]><a href="mailto:sales@versatilemobitech.com"
          title="sales@versatilemobitech.com"><img src="assets/images/48.png" class="img-fluid" alt="Mail Us"></a></li>
    </ul>

    <ul class="fixed-social animated slideInUp slow">
      <li id=""><a href="tel:+971 54 786 2682">
        </a>
        <div (click)="Toggle()">
          <span class="plus1" *ngIf="show"><img src="assets/images/9.png" alt="Plus"></span>
          <span class="minus1" *ngIf="!show"><img src="assets/images/minus.png" alt="minus"></span>
        </div>
      </li>
      <li><a href="tel:+971 54 786 2682" title="tel:+971 54 786 2682"><img src="assets/images/8.png" class="img-fluid"
            alt="contact"></a></li>
      <!-- <li><img src="assets/images/7.png" class="img-fluid" alt="message"></li> -->
      <li><a href="https://wa.me/971564096960" target="_blank"><img src="assets/images/49.png" class="img-fluid"
            alt="WhatsApp"></a></li>
    </ul>
  </div>

  <!-- <div class="row">
    <ul class="hidden-fixed-social animated slideInUp slow">
        <li><a href="" target="_blank"><img src="assets/images/skype.png" class="img-fluid"
          alt="Skype"></a></li>
      <li><a href="https://wa.me/919701930011" target="_blank"><img src="assets/images/49.png" class="img-fluid"
            alt="WhatsApp"></a></li>
      <li><a href="mailto:sales@versatilemobitech.com"><img src="assets/images/48.png" class="img-fluid"
            alt="Mail Us"></a></li>
    </ul>
    <ul class="fixed-social animated slideInUp slow">
      <li id="expand-social"><a href="tel:+91 9701930011">
        </a>
        <div (click)="toggle()">
          <span class="plus" *ngIf="isActive"><img src="assets/images/9.png" alt="Plus"></span>
          <span class="minus" *ngIf="!isActive"><img src="assets/images/close.png" alt="minus"></span>
        </div>
      </li>
      <li><a href="tel:+91 9701930011"><img src="assets/images/8.png" class="img-fluid" alt="contact"></a></li>
      <li><img src="assets/images/7.png" class="img-fluid" alt="message"></li>
    </ul>
  </div> -->

</div>


<!-- Floating Social Media bar Starts -->
<!-- <div class="float-sm">
  <div class="fl-fl float-fb">
    <a href="https://wa.me/919177679797" target="_blank">
      <img src="assets/images/48.png" class="im-wdth" alt="whatsapp"> <span>Whatsapp me</span>
    </a>
  </div>
  <div class="fl-fl float-tw">
    <a href="tel:+91 9177 679 797">
      <img src="assets/images/7.png" class="im-wdth" alt="whatsapp"> <span>Ring me</span>
    </a>
  </div>
  <div class="fl-fl float-gp">
    <a href="mailto:dr.kirthi.paladugu@gmail.com">
      <img src="assets/images/48.png" class="im-wdth" alt="whatsapp"> <span>Drop a mail</span>
    </a>
  </div>
</div> -->
<!-- Floating Social Media bar Ends -->

<div class="wrapper welcomediv">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="header">Welcome to Versatile IT Solutions
          <hr class="red" />
        </h2>

        <div class="wrapper-content">
          <p>For the last 7 years now, we’ve sky-rocketed the growth of our partners and customers through our
            innovation in strategy and technology.
          </p>
          <h6>Our endless curiosity in: </h6>
          <ul>
            <li>UI / UX Design</li>
            <li>Web/Mobile App Development</li>
            <li>Digital Marketing Services</li>
            <li>Enterprise Solutions</li>
            <li>Machine Learning & Artificial Intelligence</li>
            <li>Internet of Things (IoT)</li>
            <li>IT Consulting</li>
            <li>Tech support</li>
          </ul>
          <p>
            Shares the common tongue of customer wants and delight. We believe in creating compounding value for our
            clients through precision, helping them cause a phase-shift across their industry.
          </p>
        </div>
      </div>
      <div class="col-md-4 float-right">
        <div class="welcome-img">
          <img src="assets/images/43.jpg" class="img-fluid" alt="Welcome to Versatile Mobitech"> <img
            src="assets/images/10.png" class="img-fluid float-left animated fadeInUp"
            alt="Welcome to Versatile Mobitech">
        </div>
        <div class="welcome-img-2">
          <div class="scroll-animation revealedBox goRight revealedBox-in">
            <img class="contentBox" src="assets/images/6.jpg" class="img-fluid" alt="Welcome to Versatile Mobitech">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper services">
  <div class="container">
    <h2 class="header">Our Services
    </h2>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="icon-box">
          <div class="service-block revealOnScroll" data-animation="fadeInUp" routerLink="/services/ux-ui-design">
            <div class="grid-item">
              <div class="box-one"></div>
              <div class="box-two"></div>
              <img src="assets/images/19.png" class="img-fluid animated rotateIn infinite" id="loading">

              <img src="assets/images/11.png" class="img-fluid service-img" alt="">

              <h3>UX & UI Design</h3>
              <p>Bringing imagination to life by creating a visual identity that’s authentic through solutions in Logo
                design, brand identity and collaterals.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-block revealOnScroll" data-animation="fadeInUp" routerLink="/services/web-development">
          <div class="grid-item">
            <div class="box-one"></div>
            <div class="box-two"></div>
            <img src="assets/images/19.png" class="img-fluid" id="loading">
            <div class="icon-box">
              <img src="assets/images/12.png" class="img-fluid service-img" alt="">
            </div>
            <h3>Web Design & Development</h3>
            <p>We flawlessly program your website across WordPress, HTML, Joomla and Drupal to ensure it every aspect of
              it tells a story.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="service-block revealOnScroll" data-animation="fadeInUp" routerLink="/services/mobile-applications">
          <div class="grid-item">
            <div class="box-one"></div>
            <div class="box-two"></div>
            <img src="assets/images/19.png" class="img-fluid" id="loading">
            <div class="icon-box">
              <img src="assets/images/13.png" class="img-fluid service-img" alt="">
            </div>
            <h3>Mobile App Development</h3>
            <p>We build human-centric apps with seamless design across Android and iOS.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="service-block revealOnScroll" data-animation="fadeInUp"
          routerLink="/services/digital-marketing-and-seo">
          <div class="grid-item">
            <div class="box-one"></div>
            <div class="box-two"></div>
            <img src="assets/images/19.png" class="img-fluid" id="loading">
            <div class="icon-box">
              <img src="assets/images/14.png" class="img-fluid service-img" alt="">
            </div>
            <h3>Digital Marketing</h3>
            <p>We harness data to help you make better human connections, helping you build social equity through both
              organic and paid means.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-block revealOnScroll" data-animation="fadeInUp" routerLink="/it-consulting">
          <div class="grid-item">
            <div class="box-one"></div>
            <div class="box-two"></div>
            <img src="assets/images/19.png" class="img-fluid" id="loading">
            <div class="icon-box">
              <img src="assets/images/16.png" class="img-fluid service-img" alt="">
            </div>
            <h3>IT Consulting</h3>
            <p>Explore the true potential of a blank canvas and a trusted partner to help you lead the digital era. </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="service-block revealOnScroll" data-animation="fadeInUp" routerLink="/services/tech-support">
          <div class="grid-item">
            <div class="box-one"></div>
            <div class="box-two"></div>
            <img src="assets/images/19.png" class="img-fluid" id="loading">
            <div class="icon-box">
              <img src="assets/images/15.png" class="img-fluid service-img" alt="">
            </div>
            <h3>Tech Support</h3>
            <p>We support you operationally by building an admin stack based on automation and efficient management
              techniques, to help you scale faster. </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="wrapper choose-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 why-us">
        <h2 class="header">Why choosing us?
          <hr class="red" />
        </h2>
        <div class="wrp">
          <div class="choose-img">
            <!-- <img src="assets/images/10.png" class="img-fluid animated slideInLeft img-bg" alt="Welcome to Versatile Mobitech"> -->

          </div>
        </div>
        <img src="assets/images/20.png" class="img-fluid animated slideInRight img-front"
          alt="Welcome to Versatile Mobitech">
      </div>
      <div class="col-md-6 pl-md-5 build-business">
        <h2 class="header">Looking to build your business?
          <hr class="red" />
        </h2>
        <p style="text-align: justify">You’ve come to the right place! With over 7 years of experience spanning all
          major domains, we are an end-to-end solution. Our experts and industry leaders are ready to take on your
          project.</p>
        <div class="row mt-4">
          <div class="col-md-3 img-wrap">
            <img src="assets/images/17.png" class="img-choose img-fluid animated pulse">
          </div>
          <div class="col-md-9 pt-md-2">
            <h3 class="sub-heading">Creative brainstorming</h3>
            <p style="text-align: justify">As part of a mandated process, brainstorming is essential to all projects we
              take on. These are conducted across departments to curate the best and more viable options.</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3 img-wrap">
            <img src="assets/images/18.png" class="img-choose img-fluid animated pulse">
          </div>
          <div class="col-md-9 pt-md-2">
            <h3 class="sub-heading">Long term alliance</h3>
            <p style="text-align: justify">
              Be it a 6 month project or a year, we are your partners through it all. With our growing repository of
              services and expertise - we function as your outsourced team, working with you to grow the business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper testimonials revealOnScroll" data-animation="fadeInUp">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="header header-white mt-md-4">Clients Say About Us
          </h2>
        </div>
      </div>
    </div>
    <div class="demo animated fadeInUp">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="4000">
        <div class="container carousel-inner">
          <div class="carousel-item active">
            <div class="user-image">
              <img src="assets/images/47.png" class="img-fluid" alt="M. Mahesh">
              <h4 class="title">Vamshi Krishna Mohan,</h4>
              <h4 class="title-red designation"></h4>
              <h4 class="title-red organization">Director-Return My Ticket</h4>
            </div>
            <div class="user-testimonial">
              <p class="description"><img src="assets/images/50.png" class="quotes-up img-fluid"> I wanted to let you
                know how much I appreciated your help with this project.
                I know how much time and effort you invested to not only get the project done prior to the deadline, but
                to ensure the quality is met at every phase of the project.
                You are a valued member of our team, and I truly appreciate your contributions! <img
                  src="assets/images/51.png" class="quotes-down img-fluid"></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="user-image">
              <img src="assets/images/47.png" class="img-fluid" alt="M. Mahesh">
              <h4 class="title">Mohd Salman Hussain,</h4>
              <h4 class="title-red designation"></h4>
              <h4 class="title-red organization"> AppNetco - UAE</h4>
            </div>
            <div class="user-testimonial">
              <p class="description"><img src="assets/images/50.png" class="quotes-up img-fluid"> I really appreciate
                all your help in getting the "U Cars ” Mobile app ready as per the timeline and with great quality.
                You've been right there, helping out wherever and whenever needed for these past few months. Everything
                has finally come together, and we're ready to publish our mobile app on App store.
                I'm looking forward to continuing to work together. <img src="assets/images/51.png"
                  class="quotes-down img-fluid"></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="user-image">
              <img src="assets/images/47.png" class="img-fluid" alt="M. Mahesh">
              <h4 class="title">Satyanarayana Mathala, </h4>
              <h4 class="title-red organization">President - Facility Management Council</h4>
            </div>
            <div class="user-testimonial">
              <p class="description"><img src="assets/images/50.png" class="quotes-up img-fluid"> I would like to thank
                you and your team for the work you have put in to complete the project on-time. We are extremely happy
                with the support you have provided post-production of the application.
                Please express my sincere thanks to the rest of your team. <img src="assets/images/51.png"
                  class="quotes-down img-fluid"></p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="user-image">
              <img src="assets/images/47.png" class="img-fluid" alt="M. Mahesh">
              <h4 class="title">Vishwa Bandhu (MES), </h4>
              <h4 class="title-red organization">Vice-Chairman - Mahadev Educational Society</h4>
            </div>
            <div class="user-testimonial">
              <p class="description"><img src="assets/images/50.png" class="quotes-up img-fluid"> Very nice experience
                in terms of being responsive. Moreover I would say that the team is aligned to honour its words, despite
                of the unpredictive realities of the projects.
                Overall satisfactory experience. I wish all the very best to Team Versatile for future endeavour. <img
                  src="assets/images/51.png" class="quotes-down img-fluid"></p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="user-image">
              <img src="assets/images/47.png" class="img-fluid" alt="M. Mahesh">
              <h4 class="title">M. Mahesh, </h4>
              <h4 class="title-red organization"> Director - Medical Interventions</h4>
            </div>
            <div class="user-testimonial">
              <p class="description"><img src="assets/images/50.png" class="quotes-up img-fluid"> Thank you for all your
                wonderful contributions during our mobile application development. It was really helpful to have your
                input on the functionality of the application. Thank you for providing multiple options for Logo and the
                UI and it was difficult to choose the best one as we liked all the options.
                We’re looking forward to working with you on our future projects as well. I really appreciate your
                guidance, and the time you spent with us to make this application successful. <img
                  src="assets/images/51.png" class="quotes-down img-fluid"></p>
            </div>
          </div>


          <div class="carousel-item">
            <div class="user-image">
              <img src="assets/images/47.png" class="img-fluid" alt="M. Mahesh">
              <h4 class="title">Mona Monica </h4>
              <h4 class="title-red organization"> </h4>
            </div>
            <div class="user-testimonial">
              <p class="description"><img src="assets/images/50.png" class="quotes-up img-fluid"> It's a hub for
                innovation and all the way to reach customer/client satisfaction. Employees are working with enthusiasm
                and they cherish Versatile IT Solutions dreams... <img src="assets/images/51.png"
                  class="quotes-down img-fluid"></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="wrapper client-slider desktop-slider revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <h2 class="header">Our Clients
      <hr class="red" />
    </h2>
    <div class="bd-example">
      <div id="client-logo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner cust-carouseltiming">
          <div class="carousel-item active carousel-adjustment-height">
            <img src="assets/images/mauto.png" class="img-fluid" alt="Al Masood">
            <img src="assets/images/mahalli.png" class="img-fluid mahalli" alt="Mahalli">
            <img src="assets/images/24.png" class="img-fluid" alt="GHMC">
            <img src="assets/images/gigx.png" class="img-fluid gigx" alt="Gigx">
            <img src="assets/images/26.png" class="img-fluid" alt="Fugen">
            <img src="assets/images/27.png" class="img-fluid" alt="Go-Hostel">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/goodtimes.png" class="img-fluid good-times" alt="good times">
            <img src="assets/images/22.png" class="img-fluid" alt="Gati">
            <img src="assets/images/23.png" class="img-fluid" alt="N-TV">
            <img src="assets/images/25.png" class="img-fluid " alt="T-News">
            <img src="assets/images/see-wheelers.png" class="img-fluid" alt="See  Wheelres">
            <img src="assets/images/ucod.png" class="img-fluid ucod" alt="UCOD">
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#client-logo" data-slide-to="0" class="active"></li>
          <li data-target="#client-logo" data-slide-to="1"></li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="wrapper client-slider mobile-slider revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <h2 class="header">Our Clients
      <hr class="red" />
    </h2>
    <div class="bd-example">
      <div id="client-logo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner cust-carouseltiming">

          <div class="carousel-item active carousel-adjustment-height">
            <img src="assets/images/mahalli.png" class="img-fluid" alt="Mahalli">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/26.png" class="img-fluid" alt="Fugenx">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/gigx.png" class="img-fluid gigx" alt="Gigx">
          </div>
          <div class="carousel-item  carousel-adjustment-height">
            <img src="assets/images/22.png" class="img-fluid" alt="Gati">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/23.png" class="img-fluid" alt="N-TV">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/24.png" class="img-fluid" alt="GHMC">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/25.png" class="img-fluid" alt="T-News">
          </div>

          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/27.png" class="img-fluid" alt="Go-Hostel">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/mauto.png" class="img-fluid" alt="Gati">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/goodtimes.png" class="img-fluid" alt="N-TV">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/mana-radio.png" class="img-fluid" alt="GHMC">
          </div>

          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/see-wheelers.png" class="img-fluid" alt="See  Wheelres">
          </div>
          <div class="carousel-item carousel-adjustment-height">
            <img src="assets/images/ucod.png" class="img-fluid" alt="UCOD">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>