<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Ucars</h1>
                  <p>
                    <!-- Vortex offers reliable and on-demand handler for your vehicles at one tap. -->
                  </p>
                  <div class="port-flx">
                    <a href="https://play.google.com/store/apps/details?id=com.versatilemobitech.vortex"
                      target="_blank">
                      <img src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="..."></a>
                    <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="...">
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/ucars/ucars-ios.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                  <!-- <img src="assets/images/portfolio/inner/vortex/vortex-android.png" data-animation="fadeInLeft"
                      class="img-fluid revealOnScroll" alt="..."> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          UCars is an Android Application. The main features of Application is Buying and selling of Used products where
          the Seller will post the product and Buyer will buy the product. Mainly designed for Used Cars,Used Bikes,Used
          Number plates,Used Boats,Used Spare parts.And it is useful for customer to post their used vehicles and parts.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/ucars/mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
              alt="Request a call back"></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="" class="req_btn">Request Now</a>
        </div>
      </div>
    </div>
  </div> -->