<!-- first section -->
<div class="container">
  <div class="row  mt-5">
    <div class="col-sm-12">
      <!-- <div class="d-flex">
              <div class="soci-icon">
                <a href="https://academy.bingads.microsoft.com/baap/membership-profile/id/299507/lokesh-kothapally/" target="_blank"><img src="assets/images/digital-marketing/bing.png" class="img-fluid" alt="..."></a>
              </div>
              <div class="soci-icon">
                <img src="assets/images/digital-marketing/google-ads.png" class="img-fluid" alt="...">
              </div>
              <div class="soci-icon">
                <img src="assets/images/digital-marketing/google-anylist.png" class="img-fluid" alt="...">
              </div>
            </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="anddroid-app">
        <img src="assets/images/services-inner/techsupport-text.png" class="img-fluid bg-txt" alt="...">
        <h2>Tech Support</h2>
        <p>Tech support is an ongoing and omnipresent department of all companies. It is the backbone of sales and
          marketing, ensuring every customer is well taken care of - and any issues, resolved, at the earliest. Tech
          support over time has also turned into a USP for many companies. As they have begun focusing on tech support,
          customer retention has also seen an upward swing.</p>
        <p>Tech support is an ongoing and omnipresent department of all companies. It is the backbone of sales and
          marketing, ensuring every customer is well taken care of - and any issues, resolved, at the earliest. Tech
          support over time has also turned into a USP for many companies. As they have begun focusing on tech support,
          customer retention has also seen an upward swing.</p>
        <p>
          For tech support, while KPIs are important - every time you beat them, the customer wins and customer loyalty
          increases. At Versatile, we aim to not just be your trusted partner for relevant tech support, we strive to
          improve speed-to-answer and speed-to-resolution as well.
          Our team of experts in the domain are domain experts and share an abundance of cross-knowledge.

        </p>
        <p>
          Tech support from Versatile is cross-platform, ensuring your customer’s issues get sorted at the quickest - be
          it on phone, chat, email, SMS or social media. We are here 24/7/365 as your global support partners in local
          languages. All our staff members have the right blend of etiquette and soft skills to make your customers feel
          valued
        </p>
        <p>
          As the frontmen of your business, we not only solve customer issues, we also help company growth by exposing
          the shortfalls and issues that can be modified and fixed. This not only improves your processes and makes your
          company better at what they do, it can also help implement savings as you are reducing the number of customer
          pain points.
        </p>
        <p>
          Here are some of the departments/problem points we handle </p>
        <ol class="tech-list">
          <li>
            Customer sales and support services
            <ul>
              <li>Payment support
              </li>
              <li>Order processing/provisioning
              </li>
            </ul>
          </li>

          <li>
            Pre-sales support services

            <ul>
              <li>Lead generation and qualification

              </li>
              <li>Order management

              </li>
            </ul>
          </li>


          <li>
            Post-sales support services

            <ul>
              <li>Troubleshooting and problem resolution

              </li>
              <li>Installation support

              </li>
              <li>Warranty support
              </li>
            </ul>
          </li>


          <li>
            Managed technical support services

            <ul>
              <li>Network support

              </li>
              <li>Remote network services

              </li>
              <li>
                Remote server services
              </li>
            </ul>
          </li>



          <li>
            Enterprise technical helpdesk services

            <ul>
              <li>Knowledge management

              </li>
              <li>Application support

              </li>
              <li>
                Software support

              </li>
            </ul>
          </li>


        </ol>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="webdev">
        <img src="assets/images/services-inner/tech-support.png" class="big-img" alt="...">
      </div>
      <div class="circle-ripple"></div>
    </div>
  </div>
</div>

<!-- <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="anddroid-app txt-indt">
            <h2>Tech Support</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                text. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                  some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                  to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                  text. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                  some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                  to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                  text. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                    some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                    text.</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                        text. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                          some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                          to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                          text. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                          some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                          to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                          text. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                            some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                            to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            text.</p>
          </div>
        </div>
      </div>
  </div> -->



<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
              alt="Request a call back"></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="" class="req_btn">Request Now</a>
        </div>
      </div>
    </div>
  </div> -->