<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Al-Masaood</h1>
                  <p>
                    Al Masaood Auto is a comprehensive and unique automotive experience offering the customer premium
                    services by just a few clicks. Customers have to register with Al Masaood Auto by adding up
                    important details about their car and they end up getting almost all the services on the tip of
                    their finger.

                  </p>
                  <div class="port-flx">
                    <a href=" https://play.google.com/store/apps/details?id=com.versatilemobitech.prive
                    " target="_blank"><img src="assets/images/portfolio/inner/play-store.png" class="img-fluid"
                        alt="..."></a>
                    <a href="https://apps.apple.com/ae/app/ai-masaood-auto/id1463932663
                    " target="_blank"><img src="assets/images/portfolio/inner/app--store.png" class="img-fluid"
                        alt="..."></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/al-masaood/al-masaood.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/inner/al-masaood/al-masaood-1.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Al Masaood Auto offer wide range of facilities to its customers. If you are buying a new car, you can compare
          different aspects of the particular model of your choice. The customers get to choose colour compare
          specifications, interior, exterior, accessories, and their prices. The app also avails you with service like
          booking the test drive or getting a quote by just submitting the request through the app.
          If you already own a car, the app gives you assistance for everything that’s needed. Book car services through
          app compare price and chose the best plan that suits your budget at your convenient time. It also acts as a
          personal assistant to remind you all the important dates regarding the expiry of insurance or new offers
          related to your interest.
          It also has unique features like live tracking of car services, this features enable the customer to get full
          information about the procedure undertaken during servicing. The customer can trace the happening at any
          moment. We are providing all the services with complete transparency to build strong trust and bond with our
          customers.

        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/al-masaood.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->