<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>GoHostel</h1>
                  <p>
                    Go Hostel app helps you in finding the right choice of stay at your comfort. Either you prefer to
                    stay in a hostel, service apartment, or as a paying guest the security, comfort, as well as
                    affordability matters a lot.
                  </p>
                  <div class="port-flx">

                    <a href="https://play.google.com/store/apps/details?id=com.versatilemobitech.gohostelsuser"
                      target="_blank"><img src="assets/images/portfolio/inner/play-store.png" class="img-fluid"
                        alt="..."></a>
                    <a href="https://apps.apple.com/in/app/go-hostel/id1463035404" target="_blank"> <img
                        src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."></a>
                    <a href="http://www.gohostel.in/index.php" target="_blank"><img
                        src="assets/images/portfolio/inner/website.png" class="img-fluid" alt="..."></a>

                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/gohostel-mobie.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/gohostel-m2.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          This App helps you in finding the right choice of stay at your comfort. Either you prefer to stay in a hostel,
          service apartments, or as a paying guest the security, comfort, as well as affordability matters a lot. Being
          in a new town or place, there will be every possibility that we may get cheated with the false commitments.
          Our app will give you detailed information of the staying facilities and ensures transparency of data. You can
          easily select and compare different accommodation options and negotiate too.

        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/gohostel.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->