<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Green Connexion</h1>
                  <p>
                    <!-- Vortex offers reliable and on-demand handler for your vehicles at one tap. -->
                  </p>
                  <div class="port-flx">
                    <!-- <img src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="...">
                      <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/green/green-2.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/inner/green/green-1.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Main motive of this App is that Village gets a daily supply of water and this is distributed from the supplier
          to the houses. Supplier supplies water to distributor which delivers to some houses that are assigned to him
          daily. Assigned delivery boy must register the user with household details and picture of owner & Toilets by
          integrating with QR code with water meter. Outflow of water would be measured by water meter at each house,
          where main meter will be assigned to distributor and supplier.
        </p>
        <h3>The overall objectives of the project are:</h3>
        <ul class="digi">
          <li>
            Distributor logins into the app and Registers a house and recharges the Smart Card.
          </li>
          <li>
            Distributor will enter the number of litres of water and confirms the delivery.
          </li>
          <li>
            A pin must enter to confirm the delivery. Then they will scan the smart card to deduct payment.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/green/mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
              alt="Request a call back"></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="" class="req_btn">Request Now</a>
        </div>
      </div>
    </div>
  </div> -->