<!-- first section -->
<div class="container">
  <div class="row  mt-5">
    <div class="col-sm-12">
      <!-- <div class="d-flex">
              <div class="soci-icon">
                <a href="https://academy.bingads.microsoft.com/baap/membership-profile/id/299507/lokesh-kothapally/" target="_blank"><img src="assets/images/digital-marketing/bing.png" class="img-fluid" alt="..."></a>
              </div>
              <div class="soci-icon">
                <img src="assets/images/digital-marketing/google-ads.png" class="img-fluid" alt="...">
              </div>
              <div class="soci-icon">
                <img src="assets/images/digital-marketing/google-anylist.png" class="img-fluid" alt="...">
              </div>
            </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="anddroid-app">
        <img src="assets/images/services-inner/it-text.png" class="img-fluid bg-txt" alt="...">
        <h2>IT Consulting</h2>
        <p>IT is a domain that is constantly evolving and businesses are constantly under pressure to drive
          competitiveness and growth by using the newest and greatest technology available.</p>
        <p>
          Versatile’s IT consulting team helps organisations that are looking to scale understand disruptive technology
          and use strategy to drive business potential.
        </p>
        <p>
          Your business needs grow to support geographical expansion, introduction of new products and services and
          finally, M&As, within which we help you find a strategy right for you.
        </p>
        <p>
          Our expert team helps close to gaps between discussion and planning between business, technology, and
          implementation.
        </p>
        <p>
          Starting with a well-conducted assessment (reviews, surveys, etc.) we provide an external perspective on the
          strengths and areas for improvement in your business and technological capabilities.
        </p>
        <p>
          We help you define, design and execute strategies that are up to date and help you generate revenue.
        </p>
        <p>
          Cost is a huge factor that goes into IT decision and as your IT partner, we will always help you optimize and
          lower this cost.
        </p>
        <p>
          Our consultants will help you develop strategies that are aligned to your goals, using or upgrading your IT
          environment along with boosting performance.
        </p>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="webdev">
        <img src="assets/images/services-inner/it-consulting.png" class="big-img" alt="...">
      </div>
      <div class="circle-ripple"></div>
    </div>
  </div>
</div>





<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
              alt="Request a call back"></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="" class="req_btn">Request Now</a>
        </div>
      </div>
    </div>
  </div> -->