<div class="bd-example director-banner">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/Bg-director.jpg" class="d-block w-100 h-100 img-fluid" alt="...">
        <div class="overlay">
          <div class="carousel-caption container">
            <h1>Board of Directors</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper directors">
  <div class="container">
    <h2 class="header">Our Directors</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 mt-md-2">
        <div class="director-item">
          <img src="assets/images/vm1.jpg">
          <div class="director-details text-center">
            <a href="https://www.linkedin.com/in/srinivasmogilipala/" target="_blank">
              <h4>Srinivas Mogilapala</h4>
              <p>Managing Director & CEO</p>
            </a>

            <!-- <img src="assets/images/linked-in.png" class="cst-linkd" alt="..."> -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 mt-md-2">
        <div class="director-item">
          <img src="assets/images/VikramReddy.jpg">
          <div class="director-details text-center">
            <!-- <a href="https://www.linkedin.com/in/srinivasmogilipala/" target="_blank"> -->
            <h4><a>Vikram Reddy Ch</a></h4>
            <p>Managing Director</p>
            <!-- </a> -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 mt-md-2">
        <div class="director-item">
          <img src="assets/images/core-team/waseem.jpg">
          <div class="director-details text-center">
            <!-- <a href="https://www.linkedin.com/in/srinivasmogilipala/" target="_blank"> -->
            <h4><a>Waseemullah Ahmad</a></h4>
            <p>Managing Director</p>
            <!-- </a> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="wrapper client-slider">
  <div class="container">
    <h2 class="header"> Associate Partners
    </h2>
    <div class="bd-example">
      <div id="carousel-1" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="col-sm-3 cust">
              <img src="assets/images/Raghu.jpg" alt="Avatar" class="image img-fluid vk6">
              <div class="overlay22">
                <h4><a class="over-text">Yugandhar Raghu Varma</a></h4>
                <p>MD of Value Global Services</p>
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>

            <div class="col-sm-3 cust">
              <img src="assets/images/vikramkulkarni.jpg" alt="Avatar" class="image img-fluid vk6">
              <div class="overlay22">
                <h4><a>Vikram Kulkarni</a></h4>
                <p>MD of HealthX Technologies</p>
                <!-- <h5><a href="https://www.linkedin.com/in/vikramk6/" target="_blank"><i class="fa fa-linkedin-square"
                      aria-hidden="true"></i></a></h5> -->
              </div>
            </div>
          </div>

        </div>
        <!-- <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
        </a> -->
        <!-- <ol class="carousel-indicators cust-directorli">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
        </ol> -->
      </div>
    </div>
  </div>
</div>

<div class="wrapper client-slider">
  <div class="container">
    <h2 class="header"> Core Team
    </h2>
    <div class="bd-example">
      <div id="carousel-2" class="carousel slide">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <!-- <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image img-fluid">
              <div class="overlay22">
                <h4><a >Siva Pamarthi</a></h4>
                <p>CTO </p>
                <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5>
              </div>
            </div> -->
            <div class="col-sm-3 cust">
              <img src="assets/images/core-team/Venkatesh.jpg" alt="Avatar" class="image img-fluid vk6">
              <div class="overlay22">
                <h4><a>Venkatesh A</a></h4>
                <p>Operations Manager</p>
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/core-team/bharani.jpg" alt="Avatar" class="image img-fluid vk6">
              <div class="overlay22">
                <h4><a>Bharani Reddy</a></h4>
                <p>Business & Strategy</p>
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/core-team/promod.jpg" alt="Avatar" class="image img-fluid vk6">
              <div class="overlay22">
                <h4><a>Pramodh Kokku</a></h4>
                <p>Corporate Sales</p>
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/core-team/rita.jpg" alt="Avatar" class="image img-fluid vk6">
              <div class="overlay22">
                <h4><a>Rita Acharya
                  </a></h4>
                <p>Project Coordinator</p>
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a >John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a >John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a href="">John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a >John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
          </a>
          <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
          </a> -->
        <!-- <ol class="carousel-indicators cust-directorli">
          <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-2" data-slide-to="1"></li>
        </ol> -->
      </div>
    </div>
  </div>
</div>

<div class="wrapper client-slider">
  <div class="container">
    <h2 class="header"> Business Promoters
    </h2>
    <div class="bd-example">
      <div id="carousel-3" class="carousel slide">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="col-sm-3 cust">
              <img src="assets/images/GeorgeArunachalam.jpg" alt="Avatar" class="image img-fluid">
              <div class="overlay22">
                <h4><a>George Arunachalam</a></h4>
                <!-- <p>Founder & CEO</p> -->
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/JohnFernands.jpg" alt="Avatar" class="image img-fluid">
              <div class="overlay22">
                <h4><a>John Fernadaize</a></h4>
                <!-- <p>Founder & CEO</p> -->
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/core-team/john.jpg" alt="Avatar" class="image img-fluid vk6">
              <div class="overlay22">
                <h4><a>John Thomas</a></h4>
                <!-- <p>Founder & CEO</p> -->
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <!-- <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image img-fluid">
              <div class="overlay22">
                <h4><a >Abdul Omar Taha</a></h4>
                <p>Founder & CEO</p>
                <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5>
              </div>
            </div> -->
          </div>
          <!-- <div class="carousel-item">
            <div class="col-sm-3 cust" routerLink="/directordetails">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a  routerLink="/directordetails">John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust" routerLink="/directordetails">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a  routerLink="/directordetails">John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust" routerLink="/directordetails">
              <img src="assets/images/director-8.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a  routerLink="/directordetails">John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust" routerLink="/directordetails">
              <img src="assets/images/director-8.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a  routerLink="/directordetails">John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev">
            </a>
            <a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next">
            </a> -->
        <!-- <ol class="carousel-indicators cust-directorli">
          <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-3" data-slide-to="1"></li>
        </ol> -->
      </div>
    </div>
  </div>
</div>

<div class="wrapper client-slider">
  <div class="container">
    <h2 class="header"> Advisors Council
    </h2>
    <div class="bd-example">
      <div id="carousel-4" class="carousel slide">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="col-sm-3 cust">
              <img src="assets/images/Shiva.jpg" alt="Avatar" class="image img-fluid">
              <div class="overlay22">
                <h4><a>Shiva Kumar</a></h4>
                <!-- <p>Founder & CEO</p> -->
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/Altaf.jpg" alt="Avatar" class="image img-fluid">
              <div class="overlay22">
                <h4><a>Mohammed Altaf</a></h4>
                <!-- <p>Founder & CEO</p> -->
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/PadmajaReddy.jpg" alt="Avatar" class="image img-fluid">
              <div class="overlay22">
                <h4><a>Padmaja Reddy </a></h4>
                <!-- <p>Founder & CEO</p> -->
                <!-- <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5> -->
              </div>
            </div>
            <!-- <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image img-fluid">
              <div class="overlay22">
                <h4><a >John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div> -->
          </div>
          <!-- <div class="carousel-item">
            <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a >John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/Place-holder.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a >John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/director-8.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a >John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
            <div class="col-sm-3 cust">
              <img src="assets/images/director-8.jpg" alt="Avatar" class="image">
              <div class="overlay22">
                <h4><a >John Peter</a></h4>
                <p>Founder & CEO</p>
                <h5>in</h5>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <a class="carousel-control-prev" href="#carousel-4" role="button" data-slide="prev">
              </a>
              <a class="carousel-control-next" href="#carousel-4" role="button" data-slide="next">
              </a> -->
        <!-- <ol class="carousel-indicators cust-directorli">
          <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-4" data-slide-to="1"></li>
        </ol> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->