<!-- first section -->
<div class="container">
  <div class="row  mt-5">
    <div class="col-sm-12">
      <div class="d-flex">
        <div class="soci-icon">
          <a href="https://academy.bingads.microsoft.com/baap/membership-profile/id/299507/lokesh-kothapally/"
            target="_blank"><img src="assets/images/digital-marketing/bing.png" class="img-fluid" alt="..."></a>
        </div>
        <div class="soci-icon">
          <img src="assets/images/digital-marketing/google-ads.png" class="img-fluid" alt="...">
        </div>
        <div class="soci-icon">
          <img src="assets/images/digital-marketing/google-anylist.png" class="img-fluid" alt="...">
        </div>
        <div class="soci-icon">
          <img src="assets/images/digital-marketing/google-searh-console.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="anddroid-app">
        <img src="assets/images/digital-marketing/bg-text.png" class="img-fluid bg-txt" alt="...">
        <h2>Digital Marketing Services</h2>
        <div class="d-block d-sm-none">
          <div class="d-flex">
              <img src="assets/images/digital-marketing/digital-mark.png" class="big-img" alt="...">
            <!-- <img src="assets/images/services-inner/2.png" class="sml-img" alt="..."> -->
          </div>
        </div>
        <p>
          Every single company in 2019 has a digital marketing strategy - to gain visibility, to gain consumer trust and
          finally, to attract customers. Digital marketing strategies and tactics are a long haul game but they do
          provide results that will help your business run.
        </p>
        <p>
          At Versatile, we help you strategize, find your audience and niche and finally, implement an omni-channel
          experience wherever your audience is.
        </p>
        <p>
          When companies do start digital marketing, they need guidance and support to ensure that the targeting and
          budgeting are right. Two main factors to ensure that you aren’t blowing a hole through your roof!
        </p>
        <p>
          When it comes to price points, we are able to offer custom solutions that fit the size of your business and
          the budget you have. Using a set of insights and tools, our goal is to maximise your ROI per rupee spent on
          digital marketing.
        </p>
        <p>With time, and by understanding your clientele, we make strategic decisions on platform, creative and content
          for you so you can handle the business. </p>
        <p>Let us handle your online presence!</p>
        <p>Think Digital. Think Versatile.</p>
      </div>
    </div>
    <div class="col-sm-6 d-none d-sm-block">
      <div class="webdev">
        <img src="assets/images/digital-marketing/digital-mark.png" class="big-img" alt="...">
      </div>
      <div class="circle-ripple"></div>
    </div>
  </div>
</div>
<!-- ./first section -->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-sm-4 col-sm-8">
        <div class="anddroid-app">
            <h2>Search Engine Optimization</h2>
        </div>      
    </div>
    <div class="col-sm-4 no-pad">
      <img src="assets/images/digital-marketing/seo.png" data-animation="fadeInLeft" class="img-fluid revealOnScroll"
        alt="...">
    </div>
    <div class="col-sm-6">
      <div class="text-justify">
        <p>
          One of the most widely spread digital marketing channels is SEO - Search Engine Optimisation. Getting Google
          to recognize and rank your website is a task that is ongoing and continuous.
        </p>
        <p>
          SEO is indeed one of the hardest channels to crack since it involves a range of on-site developments as well
          as content. At Versatile, we can help you with both.

        </p>
        <p>We begin with a site audit that analyses structure, key elements, interlinking and website overall
          performance - this helps us with action items that are needed on your website.
        </p>
        <p>
          For example, SEO optimised websites have headers in H1, H2 and so forth. At Versatile, with our attention to
          detail, we are quick to spot and implement changes.

        </p>
        <p>
          Then, using the tools and expertise we’ve gathered over X years, we research, scan, understand and optimise
          your keywords that give you a high ROI and a favorable Google ranking.
        </p>
        <p>The most important part of SEO is to provide high quality, high DA, and contextual links to your website via
          backlinks - these bring authority and importance to your website via Google’s algorithm.
        </p>
        <p>
          Over time, we have noticed that our clients SEO efforts have shown massive impacts to their business - leading
          them to make more profits, keep more customers happy and finally, building a loyal list of supporters.
        </p>
        <p>As part of our ongoing efforts, we provide a monthly, detailed analysis of your site ranking, performance and
          optimization efforts from our side.
        </p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-sm-2 col-sm-10">
        <div class="anddroid-app">
            <h2>Search Engine Marketing</h2>
        </div>      
    </div>
    <div class="no-pad d-block d-sm-none">
      <img src="assets/images/digital-marketing/sem.png" class="img-fluid revealOnScroll" data-animation="fadeInLeft"
        alt="...">
    </div>
    <div class="offset-sm-2 col-sm-6">
      <div class="text-justify">
        <p>
          Search Engine Marketing is a strategy to increase the visibility of your website to the target audience. SEM
          is a paid activity and does encourage more views and traffic to your website on the keywords you’re targeting.
        </p>
        <p>
          With SEM, the results are instant as it is very targeted and works with the algorithm to show relevant results
          to consumers. The most common place you’d see SEM activities are on Google Ads, Facebook ads, Instagram ads -
          so on and so forth.
        </p>
        <p>SEM effectively engages your target audience by visual ads as well across various platforms. And visuals
          help sell more than written words.</p>
        <p>With Google, you get maximum reach and via the dashboard there is complete transparency. The ads you put are
          highly customizable and almost always guarantees a visitor on your site - therefore it has a higher, quicker
          ROI than SEO. </p>
        <p>
          As part of our offering within the SEM bouquet, here are some features we wanted to highlight:
        </p>
        <ul>
          <li><strong>Keyword discovery</strong> : We have a look at your business and then curate a list of keywords
            that would match. This helps us get into the customer's brain and take an insight into what they're looking
            for - then we work backwards to implement that on our end.</li>
          <li> <strong>Market analysis</strong> : The market is currently already bidding on words to gain popularity
            and search results. Our role here is to analyse what they're looking for and then help you with a strategy
            that is cost-effective and high ROI.</li>
          <li><strong>Campaign analysis</strong> : Overall, every business uses a variety of campaign ideas and
            strategic methods to get one up over their competitors. As part of campaign analysis, we gather keyword
            searches, user search history, geographical locations, and hardware used.
          </li>
          <li><strong>Campaign Structure Design</strong> : We design and run ads on all social media networks such as
            Facebook, Twitter, Linkedin, Google- so on and so forth. </li>
          <li><strong>Reporting</strong> : As part of a regular routine, we offer in-depth insights to our clients on
            where we stand, benchmarks we've set and progress MoM.</li>
        </ul>
        <p>Since we are a multi-functional agency, we do understand your SEM requirements and integrate those when we
          develop a new website.</p>
      </div>
    </div>
    <div class="col-sm-4 no-pad d-none d-sm-block">
      <img src="assets/images/digital-marketing/sem.png" class="img-fluid revealOnScroll" data-animation="fadeInLeft"
        alt="...">
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-sm-4 col-sm-8">
        <div class="anddroid-app">
            <h2>Social Media Optimization</h2>
        </div>      
    </div>
    <div class="col-sm-4 no-pad">
      <img src="assets/images/digital-marketing/smo.png" data-animation="fadeInLeft" class="img-fluid revealOnScroll"
        alt="...">
    </div>
    <div class="col-sm-6">
      <div class="text-justify">
        <p>
          SMO is a strategy to integrate social channels on your website. This is so that Google understands your social
          feeds standing and your presence.
        </p>
        <p>
          SMO (Social Media Optimization) is an important factor in your internet search rankings. This strategy is
          often overlooked by many companies, even though it can help increase your position within the search rankings.
        </p>
        <p>
          Within social media, consumers these days are active and aware, leading you to get direct and indirect
          benefits from having a presence. For example, blogs that are shareable are indeed those that garner the most
          spread and reach. This is done by linking social to the website.
        </p>
        <p>
          Some of the benefits of social media marketing are promotion, communication and brand awareness.
        </p>
        <p>Within promotion, we look at market trends and your competitors - and basically, try to out do their
          performance and strategy on social media.</p>
        <p>With communication, we understand that customers are looking on social all the time for ideas, products or
          services - so we take that into account and build up a strategy that appeals to them and their needs. This is
          done to improve the conversion of active leads, which builds credibility and trust towards the product or
          service.</p>
        <p>With brand awareness, we want to stretch your word far and wide - therefore we build a strategy around
          impressions and reach where we monitor and check how your brand is doing.</p>
        <p>Here’s how we carry out SMO :</p>
        <ul>
          <li>We create unique graphic designs that appeal to your target audience.</li>
          <li>We strategize and build advertising campaigns.</li>
          <li>We utilize competitions as a way to garner attention towards our brand.</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row mb-5">
    <div class="offset-sm-2 col-sm-10">
        <div class="anddroid-app">
            <h2>Social Media Marketing</h2>
        </div>      
    </div>
    <div class="col-sm-4 no-pad d-block d-sm-none">
      <img src="assets/images/digital-marketing/smm.png" class="img-fluid revealOnScroll" data-animation="fadeInLeft"
        alt="...">
    </div>
    <div class="offset-sm-2 col-sm-6">
      <div class="text-justify">
        <p>
          Social media marketing, or SMM is something we are all familiar with in this day and age! It involves posting,
          engaging, uploading and reacting to content that drives engagement and customer eyeballs. Over the years we
          have picked up skills and insights for platforms such as Facebook, Twitter, Instagram and Pinterest.
        </p>
        <p>
          At Versatile, we help you with social media marketing - right from graphics to content till the appropriate
          hashtags. Content definitely drives this segment/medium and therefore we work closely with our clients to
          figure out the niche and brand voice they wish to portray.
        </p>
        <p>When it comes to channels of publishing and marketing, our years of experience have given us a birds-eye view
          on every channel. Here are the channels and how we can help your business.</p>
        <p>
          As a last step, we do also help with choosing the right channels - contrary to popular belief, you don’t have
          to be present on every single channel to be successful. Each channel has its vibe, tribe and content category
          - your brand needs to stick out amongst competitors, But not be over plastering people’s social feeds.
        </p>
        <p class="m-0"><strong>Facebook Marketing</strong></p>
        <p>We've helped build and optimize click funnels via paid and organic.</p>
        <p class="m-0"><strong>Twitter Marketing</strong></p>
        <p>We've helped brands stay on-trend and updated with the news and posts that are occurring on
          Twitter.</p>
        <p class="m-0"><strong>Google+ Marketing</strong></p>
        <p>This is a platform for brand awareness, therefore being present is prime to every business.</p>
        <p class="m-0"><strong>LinkedIn Marketing</strong></p>
        <p>Find your net customer or candidate on this platform which has extensive potential.</p>
        <p class="m-0"><strong>YouTube Marketing</strong></p>
        <p>Most individuals are shifting from text to video over time. A YT marketing strategy is great in
          informing, educating and converting customers.</p>
        <p>As a last step, we do also help with choosing the right channels - contrary to popular belief, you don’t have
          to be present on every single channel to be successful. Each channel has its vibe, tribe and content category
          - your brand needs to stick out amongst competitors, But not be over plastering people’s social feeds.</p>
      </div>
    </div>
    <div class="col-sm-4 no-pad d-none d-sm-block">
      <img src="assets/images/digital-marketing/smm.png" class="img-fluid revealOnScroll" data-animation="fadeInLeft"
        alt="...">
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-sm-4 col-sm-8">
        <div class="anddroid-app">
            <h2>Pay per click</h2>
        </div>      
    </div>
    <div class="col-sm-4 no-pad">
      <img src="assets/images/digital-marketing/ppc.png" data-animation="fadeInLeft" class="img-fluid revealOnScroll"
        alt="...">
    </div>
    <div class="col-sm-6">
      <div class="text-justify">
        <p>
          Pay Per Click is a new-age method of marketing wherein we attract customers through paid and sponsored content
          on search engines. PPC requires a lot of strategic planning in terms of landing pages, content, A/B testing
          and finally, targeting. All this requires experts to conceptualize, manage and run the campaign.
        </p>
        <p>
          PPC advertising is a strategic and yet effective way to earn a spot at the top of Google and Bing search
          results as well as on websites and digital platforms.
        </p>
        <p>Types of Pay Per Click Advertising </p>
        <ul>
          <li><strong>Google AdWords</strong> : Once we understand your business, we help you gain quick visibility
            within your target market. As your potential customer types in the keywords, they will be shown landing
            pages and website pages from your site that will encourage them to click through.</li>
          <li><strong>Facebook Advertising</strong> : With Facebook's advanced marketing and ad tools, it is a great way
            to drive traffic to your page - here, with targeted ads, messaging and graphics - we reach your customers
            where they are, not where we are. This entices them to click through.
          </li>
          <li><strong>Display Advertising</strong> : If you're looking for reach and a large marketing campaign to
            generate brand awareness- display advertising via Google is for you.</li>
          <li><strong>Remarketing</strong> : This is a way to engage people who've previously spent time on your site.
            Here you can cross-sell, upsell, remind or incentivise them.</li>
        </ul>
        <p>PPC is an iterative activity and therefore, at Versatile, we dedicate an Account Manager to each account to
          run the campaign through and through. This ensures that the project is handled with care and attention to
          detail. Attention to detail in terms of understanding campaign and results - ensuring they are on track and
          are exceeding expectations!</p>
        <p>Why Versatile Should Manage Your PPC Campaign : </p>
        <ul>
          <li> Save you money</li>
          <li> Flexible and open to hearing ideas
          </li>
          <li>ROI and results-driven
          </li>
          <li>Proven expertise within the industry - Google AdWords, Google Analytics Certified partners, DoubleClick
            for Advertisers (DFA) Certification, and Bing Ads Accredited Professional </li>
          <li>In-depth technical knowledge - Using Google API, Adobe Media Optimizer
          </li>
        </ul>
        <p>The consistent flow of of PPC management, optimization and analytics is how we grow businesses…one
          click-at-a-time.</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>


<!-- App Development Skills -->
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="anddroid-app">
        <h2>Digital Marketing Services</h2>
        <p>We ensure to utilize the latest updates to attain the maximum benefit out of the mobile app platform. These
          characteristics help us carve out the sustainable solutions for our clients, which are not just unique but
          highly scalable to help our client's business to gain the instant boost in the revenue cycle.</p>
      </div>
    </div>
  </div>
</div>

<div class="app_development_strategies android"> <span class="ltl"><i class="clrline"></i><i
      class="clrline top16H"></i><i class="clrline top32H"></i><i class="clrline top48H"></i><i
      class="clrline top64H"></i><i class="clrline top80H"></i></span> <span class="ltl rtl"><i class="clrline"></i><i
      class="clrline top16H"></i><i class="clrline top32H"></i><i class="clrline top48H"></i><i
      class="clrline top64H"></i><i class="clrline top80H"></i></span>
  <div class="appStrategiesCon"> <span class="ltl leftalign"><i class="clrline"></i><i class="clrline top50H"></i><i
        class="clrline top100H"></i></span> <span class="ltl rtl rightalign"><i class="clrline"></i><i
        class="clrline top50H"></i><i class="clrline top100H"></i></span>

    <div class="appStrow firstrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="iosappoption appConcept">
          <ul class="leftOpt">
            <li><span></span> Understanding your Audience</li>
            <li><span></span>Analysing current channels performance</li>
            <li><span></span>Define success and set realistic goals</li>
          </ul>
        </div>
        <div class="halfCirclebox">
          <div id="numberbx"><span class="numbx">01</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="lefthalfCircle"></div>
          </div>
        </div>
        <div class="headingrws">Setup and Strategy</div>
      </div>
    </div>

    <div class="appStrow secrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="headingrws">Implementation & Traction</div>
        <div class="halfCirclebox">
          <div id="numberbx1"><span class="numbx">02</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="righthalfCircle"></div>
          </div>
        </div>
        <div class="iosappoption appdevelopment">
          <ul class="rightOpt">
            <li><span></span>Transform touch points to conversation</li>
            <li><span></span>Gain traction on social media sites</li>
            <li><span></span>Gain responses to call to action</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="appStrow thirdrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="iosappoption">
          <ul class="leftOpt">
            <li><span></span>Convert conversation points to conversion &amp; points</li>
            <li><span></span>Gain positions on search engines</li>
            <li><span></span> Develop brand loyalty
            </li>
          </ul>
        </div>
        <div class="halfCirclebox">
          <div id="numberbx2"><span class="numbx">03</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="lefthalfCircle1"></div>
          </div>
        </div>
        <div class="headingrws moreword">Positioning</div>
      </div>
    </div>

    <div class="appStrow fourth aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="headingrws moreword">Measuring Results and &amp; KPI’s</div>
        <div class="halfCirclebox toppad">
          <div id="numberbx3"><span class="numbx">04</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="righthalfCircle1"></div>
          </div>
        </div>
        <div class="iosappoption afterapp">
          <ul class="rightOpt">
            <li><span></span>Measuring the effectiveness of the strategies</li>
            <li><span></span>Data Visualization</li>
            <li><span></span> Identifying opportunities</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="appStrow firstrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="iosappoption appConcept">
          <ul class="leftOpt">
            <li><span></span> Stabilize position on search engines</li>
            <li><span></span>Establish some recognition as a thought leader</li>
            <li><span></span>Gain brand power</li>
          </ul>
        </div>
        <div class="halfCirclebox">
          <div id="numberbx"><span class="numbx">05</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="lefthalfCircle"></div>
          </div>
        </div>
        <div class="headingrws">Expansion</div>
      </div>
    </div>

    <div class="appStrow secrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="headingrws">Viral Growth</div>
        <div class="halfCirclebox">
          <div id="numberbx1"><span class="numbx">06</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="righthalfCircle"></div>
          </div>
        </div>
        <div class="iosappoption appdevelopment">
          <ul class="rightOpt">
            <li><span></span>Delivering value to your ideal audience</li>
            <li><span></span>Further enhance your campaign</li>
            <li><span></span>Expand networks exponentially through fan/follower networks</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- ./ App Development Skills -->



<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
              alt="Request a call back"></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="" class="req_btn">Request Now</a>
        </div>
      </div>
    </div>
  </div> -->