<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Vortex</h1>
                  <p>
                    Vortex will be used by customers of Leila’s Skin Care and foot Clinic, Stockholm, Sweden.
                  </p>
                  <div class="port-flx">
                    <a href="https://play.google.com/store/apps/details?id=com.versatilemobitech.vortex"
                      target="_blank"><img src="assets/images/portfolio/inner/play-store.png" class="img-fluid"
                        alt="..."></a>
                    <!-- <img src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="...">
                    <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/vortex/vortex-ios.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/inner/vortex/vortex-android.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Vortex will be used by customers of Leila’s Skin Care and foot Clinic, Stockholm, Sweden. With this app,
          clients can chat with clinic to get to know about different procedures and treatments. Clients can also
          schedule a time to see the orthopedician. When chatting with the client, the clinic automatically knows who
          they are speaking with, so that they can get directly to the point.
        </p>
        <h3>Main Features</h3>
        <ul>
          <li>Create Profile</li>
          <li>Chat with clinic</li>
          <li>Schedule appointment.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/vortex/mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->