<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>LOHA</h1>
                  <p>
                    Due to globalization and fast changing communication system, there was a need of platform to meet
                    buyers and suppliers of their respective fields. LOHA is started by professionals who have
                    experience in manufacturing and procurement.
                  </p>
                  <div class="port-flx">
                    <a href="https://play.google.com/store/apps/details?id=com.chat.loha" target="_blank"><img
                        src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="..."></a>
                    <a href="https://apps.apple.com/us/app/loha/id1289196878" target="_blank"><img
                        src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/loha/loha.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/inner/loha/loha1.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Loha App is used to Trade materials Like, All types of ferrous scrap; TMT; billets & ingots, All types of
          nonferrous scrap & ingots, Ferro alloys, Coal; all types coke; ore and minerals.
          Also one can get the prices which are posted daily on the APP for materials such as : All types of nonferrous
          metals & alloys, HMS (80:20); end cutting & ship breaking, steel & foundry grade pig iron, TMT Bar; ingots;
          billets .With the same login password, one can use android; iPhone & web browser. Those who have business
          license / VAT / GST are only allowed to use LOHA.
          Presently LOHA is free for commercial transactions.
          One can post Ads at free of cost in web browser.

        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/loha.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->