<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Dhukan</h1>
                  <p>
                    Your favorite neighbourhood grocery shops are now selling online on the Application.
                  </p>
                  <div class="port-flx">
                    <!-- <img src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="...">
                    <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/dhukan-mobie.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/inner/dhukaan.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Shop anytime over online, anywhere from a vast range of products including farm-fresh fruits and vegetables,
          groceries, home & household essentials, pet care needs, organic products, beauty and hygiene, imported and
          gourmet & more at the best prices. Enjoy hassle-free online grocery shopping and home delivery at just a click
          of a button and get them delivered to your doorstep at selected available slots.
        </p>
        <p>Your favorite neighbourhood grocery shops are now selling online on the Application. Why visit multiple
          stores to get all the items in your grocery list when you can relax at home & shop online using Dhukan App!
        </p>
        <ul>
          <li>2 hour delivery of groceries, electronics, home & kitchen essentials and more</li>
          <li>Up to 50% Off Daily Essential
          </li>
          <li>Convenience is just a tap away
          </li>
          <li>Daily essentials delivered on your schedule</li>
          <li>Save big every day
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/dhukan-app.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->