<div class="bd-example services-banner revealOnScroll" data-animation="fadeInUp">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/ServicesBanner.jpg" class="d-block w-100 h-100 img-fluid" alt="...">
        <div class="overlay">
          <div class="carousel-caption container">
            <h1>Our Services</h1>

          </div>
        </div>
      </div>
      <!-- <div class="carousel-item">
                    <img src="assets/images/ServicesBanner.jpg" class="d-block w-100 h-100 img-fluid" alt="...">
                <div class="overlay">
                    <div class="carousel-caption container">
                        <h1>Our creativity mixed with</h1>
                        <h1>innovation to define your</h1>
                        <h1>business success.</h1>  
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                    <img src="assets/images/ServicesBanner.jpg" class="d-block w-100 h-100 img-fluid" alt="...">
                <div class="overlay">
                    <div class="carousel-caption container">
                        <h1>Our creativity mixed with</h1>
                        <h1>innovation to define your</h1>
                        <h1>business success.</h1>  
                    </div>
                </div>
            </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    </a>
    <!-- <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol> -->
  </div>
</div>


<div class="wrapper services">
  <div class="container">
    <div class="row services-page">
      <div class="service-block revealOnScroll" data-animation="fadeInUp" routerLink="/services/ux-ui-design">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid animated rotateIn infinite" id="loading">
          <div class="icon-box">
            <img src="assets/images/UX-&-UI.png" class="img-fluid service-img" alt="">
          </div>
          <h5>UX & UI Design</h5>
          <p>Bringing imagination to life by creating a visual identity that’s authentic through solutions in Logo
            design, brand identity and collaterals.</p>
          <p><a class="service-learn" routerLink="/services/ux-ui-design">LEARN MORE</a></p>
        </div>
      </div>
      <div class="service-block service-block2 revealOnScroll" data-animation="fadeInUp"
        routerLink="/services/web-development">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid" id="loading">
          <div class="icon-box">
            <img src="assets/images/web-development.png" class="img-fluid service-img" alt="">
          </div>
          <h5>Web Design & Development</h5>
          <p>
            We flawlessly program your website across WordPress, HTML, Joomla and Drupal to ensure it every aspect of it
            tells a story.
          </p>
          <p><a class="service-learn" routerLink="/services/web-development">LEARN MORE</a></p>
        </div>
      </div>


      <div class="service-block service-block3 revealOnScroll" data-animation="fadeInUp"
        routerLink="/services/mobile-applications">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid" id="loading">
          <div class="icon-box">
            <img src="assets/images/Mobile-App-Dev.png" class="img-fluid service-img" alt="">
          </div>
          <h5>Mobile App Development</h5>
          <p>
            We build human-centric apps with seamless design across Android and iOS.
          </p>
          <p><a class="service-learn" routerLink="/services/mobile-applications">LEARN MORE</a></p>
        </div>
      </div>

      <div class="service-block service-block4 revealOnScroll" data-animation="fadeInUp"
        routerLink="/services/digital-marketing-and-seo">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid" id="loading">
          <div class="icon-box">
            <img src="assets/images/Digital-marketing.png" class="img-fluid service-img" alt="">
          </div>
          <h5>Digital Marketing</h5>
          <p>
            We harness data to help you make better human connections, helping you build social equity through both
            organic and paid means.
          </p>
          <p><a href="#" class="service-learn" routerLink="/services/digital-marketing-and-seo">LEARN MORE</a></p>
        </div>
      </div>

      <div class="service-block service-block-enter revealOnScroll" data-animation="fadeInUp"
        routerLink="/services/enterprise-solutions">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid" id="loading">
          <div class="icon-box">
            <img src="assets/images/bg/enterprise-white.png" class="img-fluid service-img" alt="">
          </div>
          <h5>Enterprise Solutions</h5>
          <p>Our enterprise solutions services are designed to strengthen your company’s existing info management
            system.</p>
          <p><a href="#" class="service-learn" routerLink="/services/enterprise-solutions">LEARN MORE</a></p>
        </div>
      </div>

      <div class="service-block service-block-ml revealOnScroll" data-animation="fadeInUp"
        routerLink="/services/ml-and-ai">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid" id="loading">
          <div class="icon-box">
            <img src="assets/images/bg/ml-white.png" class="img-fluid service-img" alt="">
          </div>
          <h5>ML & AI Services</h5>
          <p>Our services around ML and AI assist you gain high-quality, high-accuracy ML and AI capabilities that
            modify building extremely scalable and cost-efficient digital product and solutions.
          </p>
          <p><a href="#" class="service-learn" routerLink="/services/ml-and-ai">LEARN MORE</a></p>
        </div>
      </div>

      <div class="service-block service-block-iot revealOnScroll" data-animation="fadeInUp"
        routerLink="/services/internet-of-things">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid" id="loading">
          <div class="icon-box">
            <img src="assets/images/bg/iot-white.png" class="img-fluid service-img" alt="">
          </div>
          <h5>Internet of Things</h5>
          <p>Our Define, Build & Run offering and IoT solutions cater to organizations at different IoT adoption levels.
          </p>
          <p><a href="#" class="service-learn" routerLink="/services/internet-of-things">LEARN MORE</a></p>
        </div>
      </div>

      <div class="service-block service-block6 revealOnScroll" data-animation="fadeInUp"
        routerLink="/services/it-consulting">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid" id="loading">
          <div class="icon-box">
            <img src="assets/images/IT-consulting.png" class="img-fluid service-img" alt="">
          </div>
          <h5>IT Consulting</h5>
          <p>
            Explore the true potential of a blank canvas and a trusted partner to help you lead the digital era.
          </p>
          <p><a href="#" class="service-learn" routerLink="/services/it-consulting">LEARN MORE</a></p>
        </div>
      </div>

      <div class="service-block service-block5 revealOnScroll" data-animation="fadeInUp"
        routerLink="/services/tech-support">
        <div class="service-overlay"></div>
        <div class="grid-item">
          <div class="box-one"></div>
          <div class="box-two"></div>
          <img src="assets/images/19.png" class="img-fluid" id="loading">
          <div class="icon-box">
            <img src="assets/images/Tech-support.png" class="img-fluid service-img" alt="">
          </div>
          <h5>Tech Support</h5>
          <p>
            We support you operationally by building an admin stack based on automation and efficient management
            techniques, to help you scale faster.
          </p>
          <p><a href="#" class="service-learn" routerLink="/services/tech-support">LEARN MORE</a></p>
        </div>
      </div>

    </div>
  </div>
  <div class="dotted-circle"></div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
              alt="Request a call back"></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="" class="req_btn">Request Now</a>
        </div>
      </div>
    </div>
  </div> -->