<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Suwaah</h1>
                  <p>
                    Suwaah is set to redefine how people in the Middle East travel, by going beyond the functional and
                    generic services any other online travel agency offers. With a fresh, bold take on travel, we have
                    created an inventive platform that enables the Middle Eastern traveller to venture beyond the usual
                    routes
                  </p>
                  <div class="port-flx">
                    <!-- <img src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="...">
                  <img src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio2/suwaah.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <!-- <img src="assets/images/portfolio/inner/see-wheelers/see-wheelers1.png" data-animation="fadeInRight"
                  class="img-fluid revealOnScroll" alt="..."> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          A journey with Suwaah begins way before you book a flight, hotel or holiday package through our website. We
          challenge you to go on adventures that will make you experience new things, explore new destinations and come
          back with the most exciting tales to tell. And we do this by offering you inspiring content, as well as
          dedicated products and services.
          To live up to our promise of excitement, we treat every hotel as more than just an accommodation, every flight
          as more than just a means of transport, and every destination as the next possible chapter in your personal
          book of adventures. Suwaah will turn every travel plan into reality in a few simple steps, to help you make
          the most of your trip. Our website offer convenient and effortless booking experiences for flights to
          thousands of destinations, complete holiday packages and over 1 million hotels all around the world. We hold
          to one belief above all others: When you travel without limits, your trip is more exciting. And that is why we
          make sure to have all aspects of your journey covered.

        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/Suwaah mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->