<!-- first section -->
<div class="container">
  <div class="row  mt-5">
    <div class="col-sm-12">
      <div class="d-flex">
        <div class="soci-icon">
          <img src="assets/images/web-development/1.png" class="img-fluid" alt="...">
        </div>
        <div class="soci-icon">
          <img src="assets/images/web-development/2.png" class="img-fluid" alt="...">
        </div>
        <div class="soci-icon">
          <img src="assets/images/web-development/3.png" class="img-fluid" alt="...">
        </div>
        <div class="soci-icon">
          <img src="assets/images/web-development/4.png" class="img-fluid" alt="...">
        </div>
        <div class="soci-icon">
          <img src="assets/images/web-development/5.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="anddroid-app">
        <img src="assets/images/web-development/bg-text.png" class="img-fluid bg-txt" alt="...">
        <h2>Web Design & Development</h2>
        <div class="d-block d-sm-none">
          <div class="d-flex">
            <img src="assets/images/web-development/desktop.png" class="big-img" alt="...">
          </div>
        </div>
        <p>
          Google is where businesses will find you. Therefore, being present there is of utmost priority. We build web
          apps that give you the operational efficiency and independence to portray your product in the best manner
          possible.
        </p>
        <p>
          Since we began, we’ve worked with companies of all sizes to ensure their web apps are the best in the market.
          Our approach takes your business need into consideration.
        </p>
        <p>
          We have built the most basic content management systems to the most complex e-commerce websites. Our web apps
          have been of the highest quality and efficiency possible.
        </p>
        <p>
          We handle front and back end development to give a visually enticing front end and a back end that's capable
          of handling high volumes. Our proven agile development and DevOps practices have been tailored to reduce risk,
          deliver robust applications to ensure clients and users are happy!
        </p>
        <p>
          Our tech stack includes Python, MongoDB, Angular, React, Node.js, etc.<br>
          Our capabilities on the back end include Wordpress, Joomla, Drupal, Magento2, WooCommerce.
        </p>
        <p>On the database side, SQL/NoSQL databases (MongoDB, Redis, ClouchDB), WebSockets, and Phantom.js, Mongo,
          Cassandra, Postgres.</p>
      </div>
    </div>
    <div class="col-sm-6 d-none d-sm-block">
      <div class="webdev">
        <img src="assets/images/web-development/desktop.png" class="big-img" alt="...">
      </div>
      <div class="circle-ripple"></div>
    </div>
  </div>
</div>
<!-- ./first section -->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-sm-4 col-sm-8">
      <div class="anddroid-app">
        <h2>Node JS</h2>
      </div>
    </div>
    <div class="col-sm-4 no-pad">
      <img src="assets/images/web-development/nodejs.png" data-animation="fadeInLeft" class="img-fluid revealOnScroll"
        alt="...">
    </div>
    <div class="col-sm-6">
      <div class="text-justify">
        <p>
          Node JS is an open-source, cross-platform language that is widely popular for executing JavaScript code at the
          server side. It gives enterprises the freedom to develop cross-platform, real-time applications within web and
          mobile which have efficient back-ends and user friendly front-ends.
        </p>
        <p>Some of the use cases are chat applications, image processing applications, workforce management
          applications, content management systems…. And more!</p>
        <p>
          Node JS is therefore, we guarantee, one of the most advanced, making it the choice for companies that have
          sensitive data, especially in e-commerce.
        </p>
        <p>
          Some of the benefits of Node.js for startups and scaling businesses is firstly speed, given the variety of
          modules available for public access and usage - building on NodeJS is highly productive and efficient.
        </p>
        <p>
          Built using Java, Node JS is highly functional on front-end and back-end. Therefore, the barriers between
          front and back end are minimised as teams are able to work on both seamlessly.
        </p>
        <p>Secondly, structures and programs built on NodeJS are cost efficient because it is a scalable model and
          requires fewer resources. From build to deploy, the cost of development is highly reduced as it is capable of
          handling big loads!</p>
        <p>Thirdly, it is a sustainable framework that has shown capabilities of handling numerous client applications
          without breaking or defaulting. We know from experience, anything built on NodeJS is long-term.</p>
        <p>On the server side we offer ASP.NET, PHP, etc. <br>
          On the database side, SQL/NoSQL databases (MongoDB, Redis, ClouchDB), WebSockets, and Phantom.js, Mongo,
          Cassandra, Postgres.
        </p>
        <p>With Versatile, and our agile build to deploy structure, we are your partners through and through -
          delivering innovative and new-age apps and websites!</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-sm-2 col-sm-10">
      <div class="anddroid-app">
        <h2>Mongo DB</h2>
      </div>
    </div>
    <div class="col-sm-4 nopad2 d-block d-sm-none">
      <img src="assets/images/web-development/mangodb.png" class="img-fluid revealOnScroll" data-animation="fadeInLeft"
        alt="...">
    </div>
    <div class="offset-sm-2 col-sm-6">
      <div class="text-justify">
        <p>
          MongoDB, an agile solution created for high performance. It is the leading NoSQL database solution for
          enterprises that want powerful, scalable web apps.
          It is also therefore the go-to solution for large or small enterprises who have heavy data requirements -
          write, read, and location based data.
          We’ve used MongoDB as the language of choice for scaling single server deployment to multiple architectures.
        </p>
        <p>
          The MongoDB architecture gives developers and you the complete functionalities of RDBMS namely secondary
          indexes, strict consistency, and full query language. It provides for extreme ease in sorting, searching and
          sectionalizing data easily.
        </p>
        <p>
          When we deliver solutions for enterprise database projects, we offer a range of services, these are just two
          to give you insight:
        </p>
        <ul>
          <li>Performance Optimization: Using Visual Studio and C#, we understand and gather performance data. From
            there, we use our expertise to beat that performance metric. </li>
          <li>RESTful API Development: When developing API frameworks, servers and interfaces we use a range of
            languages - from Ruby, Node.JS, Angular, Python...-to read and write data from MongoDB. These integrations
            we build allow detailed data validation, authentication, JSON rendering and cache control.</li>
        </ul>
        <p>
          As you can see, MongoDB stores data similar to JSON-like files, the data structures are dynamic and changeable
          at any time. Additionally, MongoDB integrates effectively with almost all back-end development systems such as
          NodeJS, CodeIgniter, Angular JS, Drupal and Django to name a few.- making it a strong and structured choice
          for everyone involved in the database creation and working.
        </p>
        <p>It’s simple and dynamic essence allows for the development process to be smooth and quick including all
          features.</p>
      </div>
    </div>
    <div class="col-sm-4 nopad2 d-none d-sm-block">
      <img src="assets/images/web-development/mangodb.png" class="img-fluid revealOnScroll" data-animation="fadeInLeft"
        alt="...">
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-sm-4 col-sm-8">
      <div class="anddroid-app">
        <h2>Angular JS</h2>
      </div>
    </div>
    <div class="col-sm-4 no-pad">
      <img src="assets/images/web-development/angularjs.png" data-animation="fadeInLeft"
        class="img-fluid revealOnScroll" alt="...">
    </div>
    <div class="col-sm-6">
      <div class="text-justify">
        <p>
          AngularJS is a language developed and maintained by Google allowing us to build interactive and dynamic UI’s
          for website and mobile apps. Being used for Single Page Application (SPA) projects we have the ability to only
          build using HTML, CSS & JavaScript.
        </p>
        <p>
          We deliver a superior quality design which is easy to maintain and test with multiple devices.
        </p>
        <p>
          Using Angular JS along with other famous JS frameworks such as Ember.JS, Backbone JS and Node.JS we are
          building for web or mobile cross platform apps.

        </p>
        <p>
          When building an application on the RESTful API, AngularJS is the language of choice for various reasons.
          Firstly, it is great for real-time web apps that allow for interaction and use cases within marketing and
          sales. Secondly, if you're looking to build a use case wherein there are lots of I/O requests (database),
          Angular scales very nicely.
        </p>
        <p>AngularJS in particular supports two-way data binding which is an asset when we have a large amounts of code.
          It is capable of handling the load and linkages between DOM and model- on both ends.</p>
        <p>Our team of deep domain experts have built high quality Angular based web apps that are scalable, interactive
          and dynamic. Using this language, we make it easy for our team of programmers, designers and developers to
          customize requirements and build what you are looking for!</p>
        <p>Some of the tools we are familiar with are Karma, Djangular, Mocha.js and WebStorm.</p>
        <p>At Versatile, we provide a great experience along with an assurity on quality output.</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row mb-5">
    <div class="offset-sm-2 col-sm-10">
      <div class="anddroid-app">
        <h2>React JS</h2>
      </div>
    </div>
    <div class="col-sm-4 nopad2 d-block d-sm-none">
      <img src="assets/images/web-development/reactjs.png" class="img-fluid revealOnScroll" data-animation="fadeInLeft"
        alt="...">
    </div>
    <div class="offset-sm-2 col-sm-6">
      <div class="text-justify">
        <p>
          React JS, a coding language started by Facebook and managed by the community, is one of the most flexible
          languages created. This language is created for premier user interface development wherein changes are
          required to be fast, scalable, and simple.React uses a language front end developers call JSX, although it
          looks like HTML it works inside JavaScript.
        </p>
        <p>
          React JS is a structure based design builder, wherein UI components come together to create pages. Being
          broken down and then built, gives the designer and developer much needed freedom to explore, create and
          experiment. A component is a line of code that represents a part of the page.
        </p>
        <p>
          Being structured, has many advantages for design and dev teams. Each element or object has its own name,
          making it easy to differentiate use cases and usage.
        </p>
        <p>
          When it comes to the development stage, React JS is perfect for iterative and idea-building. Being
          componentized, it is easy to change parts without affecting the entire page. Adding, modifying and deleting
          are all parts of the process and, with React JS, it becomes simple.
        </p>
        <p>
          For testing, React JS is the most linear, since each component is individually known and is a function, this
          allows to test the usability and breaks as parts rather than whole. Given the way React JS is written and
          implemented, it is not hard for testers to address bugs and solve them.
        </p>
        <p>
          When developing in React JS, some of the tools/modules we use are Browserify, Require JS, EcmaScript 6 and
          finally, Babel.
        </p>
      </div>
    </div>
    <div class="col-sm-4 nopad2 d-none d-sm-block">
      <img src="assets/images/web-development/reactjs.png" class="img-fluid revealOnScroll" data-animation="fadeInLeft"
        alt="...">
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-sm-4 col-sm-8">
      <div class="anddroid-app">
        <h2>PHP</h2>
      </div>
    </div>
    <div class="col-sm-4 no-pad">
      <img src="assets/images/web-development/php.png" data-animation="fadeInLeft" class="img-fluid revealOnScroll"
        alt="...">
    </div>
    <div class="col-sm-6">
      <div class="text-justify">
        <p>
          PHP is a simple yet dynamic programming language at server-side used for the use case of scripting that is
          primarily designed to develop websites. Since PHP server-side scripting language, it's executed on the server
          before it gets to the user’s web browser.
        </p>
        <p>
          A huge advantage of PHP is that it is supported by a majority of OS’s - UNIX, Windows and Linux. Additionally,
          it supports all major databases including MySQL, dBase,
          InterBase, FrontBase, ODBC, IBM, DB2, PostgreSQL, SQLite, etc.



        </p>
        <p>
          Applications developed in PHP are scalable and live in a fully dynamic environment, making it easy to build
          multifunctional websites. Since adaptive and responsive content websites are the need of the hour, PHP has
          found its way to significance as it is a language which allows its code to be easily embedded into HTML
          language.
        </p>
        <p>Two of the use cases we find the most interesting, made with PHP are: </p>
        <ul>
          <li><strong> API development and integration</strong>
            Creating REST API’s which are the backbone of modern web development is something our team has worked on
            extensively. Basically, it is a set of rules that allows one piece of software application to talk to
            another. Those “rules” can include create, read, update and delete operations.<br>
            The REST based web services can output in formats such as CSV, JSON, RSS etc.
            For example, a Facebook Login API allows a user to login into an application using his/her Facebook account.

          </li>
          <li>
            <strong>E-commerce application development</strong>
            Our team of industry experts have knowledge to build custom design layouts and develop secured gateway to
            payments, two out of many important factors when running a website 24×7 successfully. <br>With expertise in
            developing ecommerce web applications and shopping cart solutions in languages using PHP platforms such as
            Joomla, OS commerce, Magento , X cart, Zen Cart and many more - we have proven to be an industry leader in
            developing and deploying ecommerce solutions.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<!-- App Development Skills -->
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="anddroid-app">
        <h2>Web Application Development Process</h2>
        <!-- <p>We ensure to utilize the latest updates to attain the maximum benefit out of the mobile app platform. These
          characteristics help us carve out the sustainable solutions for our clients, which are not just unique but
          highly scalable to help our client's business to gain the instant boost in the revenue cycle.</p> -->
      </div>
    </div>
  </div>
</div>

<div class="app_development_strategies android"> <span class="ltl"><i class="clrline"></i><i
      class="clrline top16H"></i><i class="clrline top32H"></i><i class="clrline top48H"></i><i
      class="clrline top64H"></i><i class="clrline top80H"></i></span> <span class="ltl rtl"><i class="clrline"></i><i
      class="clrline top16H"></i><i class="clrline top32H"></i><i class="clrline top48H"></i><i
      class="clrline top64H"></i><i class="clrline top80H"></i></span>
  <div class="appStrategiesCon"> <span class="ltl leftalign"><i class="clrline"></i><i class="clrline top50H"></i><i
        class="clrline top100H"></i></span> <span class="ltl rtl rightalign"><i class="clrline"></i><i
        class="clrline top50H"></i><i class="clrline top100H"></i></span>

    <div class="appStrow firstrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="iosappoption appConcept webconcept">
          <ul class="leftOpt">
            <li><span></span>Set Goals for the Website</li>
            <li><span></span>Define website's target audience</li>
          </ul>
        </div>
        <div class="halfCirclebox">
          <div id="numberbx"><span class="numbx">01</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="lefthalfCircle"></div>
          </div>
        </div>
        <div class="headingrws">Information Gathering</div>
      </div>
    </div>

    <div class="appStrow secrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="headingrws">Planning</div>
        <div class="halfCirclebox">
          <div id="numberbx1"><span class="numbx">02</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="righthalfCircle"></div>
          </div>
        </div>
        <div class="iosappoption appdevelopment">
          <ul class="rightOpt">
            <li><span></span>Create a Sitemap Sketch</li>
            <li><span></span>Create a Wireframe/mock-up</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="appStrow thirdrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="iosappoption">
          <ul class="leftOpt">
            <li><span></span>Create colorful page layouts</li>
            <li><span></span>Review the layouts</li>
            <li><span></span>Get Clients Feedback on the layouts</li>
            <li><span></span>Change the layout when required</li>
          </ul>
        </div>
        <div class="halfCirclebox">
          <div id="numberbx2"><span class="numbx">03</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="lefthalfCircle1"></div>
          </div>
        </div>
        <div class="headingrws moreword">Design</div>
      </div>
    </div>

    <div class="appStrow fourth aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="headingrws moreword"> Content Writing and Assembly</div>
        <div class="halfCirclebox toppad">
          <div id="numberbx3"><span class="numbx">04</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="righthalfCircle1"></div>
          </div>
        </div>
        <div class="iosappoption afterapp">
          <ul class="rightOpt">
            <li><span></span>Create new content</li>
            <li><span></span>Get Content ready for migration</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="appStrow firstrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="iosappoption appConcept">
          <ul class="leftOpt">
            <li><span></span>Build and Deploy Website</li>
            <li><span></span>Add Special Features and Interactivity</li>
            <li><span></span>SEO for the website</li>
          </ul>
        </div>
        <div class="halfCirclebox">
          <div id="numberbx"><span class="numbx">05</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="lefthalfCircle"></div>
          </div>
        </div>
        <div class="headingrws">Coding</div>
      </div>
    </div>

    <div class="appStrow secrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="headingrws">Testing, Review and Launch</div>
        <div class="halfCirclebox">
          <div id="numberbx1"><span class="numbx">06</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="righthalfCircle"></div>
          </div>
        </div>
        <div class="iosappoption appdevelopment webconcept">
          <ul class="rightOpt">
            <li><span></span>Test the Created Website </li>
            <li><span></span>Upload the website to server</li>
            <li><span></span>Final (Regression) testing and launch</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="appStrow firstrw aos-init aos-animate" data-aos="fade-in" data-aos-easing="ease-in-sine"
      data-aos-duration="2000">
      <div class="row clearfix">
        <div class="iosappoption appConcept web-">
          <ul class="leftOpt web-list">
            <li><span></span>Add user report system</li>
            <li><span></span>Fix bugs ASAP</li>
            <li><span></span>Keep website up-to-date</li>
          </ul>
        </div>
        <div class="halfCirclebox">
          <div id="numberbx"><span class="numbx">07</span>
            <div class="halfclipCircle">
              <div class="halfcircle clippedCircle"> </div>
            </div>
            <div class="halfcircle fixedCircle"> </div>
          </div>
          <div class="halfCircle">
            <div class="lefthalfCircle"></div>
          </div>
        </div>
        <div class="headingrws">Maintenance and Regular Updating</div>
      </div>
    </div>
  </div>
</div>