<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>India-CME</h1>
                  <p>
                    We at Indiacme is a group of young like minded people working towards the cause of having a single
                    window to access CME program in India. We aim at helping the doctor fraternity in India to earn and
                    manage CME points.
                  </p>
                  <div class="port-flx">
                    <a href="https://play.google.com/store/apps/details?id=pk.indiacme&hl=en" target="_blank"><img
                        src="assets/images/portfolio/inner/play-store.png" class="img-fluid" alt="..."></a>
                    <a href="https://apps.apple.com/us/app/indiacme-medgini/id1466586584" target="_blank"><img
                        src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/india-cme/india-cme.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/inner/india-cme/india-cme1.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          India-CME platform facilitate a doctor to save his important records such as registration certificates,
          participation documents etc., IndiaCME aims at covering major events across India by uniting the major
          stakeholders Doctors, Association, Drug Marketing Companies, Medical Council and MCI. As we look ahead for
          2017, it gives a sense of optimism and positivity because healthcare industry and stand against various storm
          and is self resistance against change.
        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/mockus-banner-gati.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->