<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Evexpro</h1>
                  <p>
                    Evexpro, an App from Emm Dee Inc, is an end-to- end solution for the companies and individuals who
                    want to organize, both corporate and public, Events or
                    Exhibitions.The app has three categories: Company, Agency, Fabricator.

                  </p>
                  <div class="port-flx">
                    <a href="https://play.google.com/store/apps/details?id=com.versatilemobitech.evexpro"
                      target="_blank"><img src="assets/images/portfolio/inner/play-store.png" class="img-fluid"
                        alt="..."></a>
                    <a href="https://apps.apple.com/ae/app/evexpro/id1334638990" target="_blank"><img
                        src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio/inner/evexpro/evexpro.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio/inner/evexpro/evexpro1.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          When a Company has a requirement of verticals in an Exhibition or organize in-house events, they can just post
          their requirements in this App once the registration process
          is completed. There are no limitations on number of events to be organized or
          exhibitions in which they participate.
          Once the requirement is submitted, it is transferred to a domain of Agency. The
          registered Agencies will be intimated about the Company’s requirement. The
          quotation and the designs for this requirement will be submitted by the Agencies to
          the app. The company can opt from the top 5 quotations from the Agencies.
          Depending on the Company’s choice the Agency or Agencies will be intimated
          through mail and pop up notes about their selection.
          Similarly, the registered Fabricators will also be in the process.
          There are also opportunities for the companies to exhibit their products through the
          advertisements.

        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/evexpro-mockup.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->