<!--  banner -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad">
      <div class="contanct-img">
        <img src="assets/images/banners/terms-and-conditions.jpg" class="img-fluid" alt="...">
        <h1>Terms And Conditions</h1>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-sm-12">
      <div class="privacy-policy">
        <!-- <h4>Terms and Conditions</h4> -->
        <h5>Acceptance Of Terms</h5>
        <p>
          Your use of Versatile IT Solutions and its designs are subjected to the following terms and conditions and apply
          to all contracts and all work undertaken by Versatile IT Solutions for its clients. Please read our terms and
          conditions carefully. By using this website, you choose to agree and accept our terms and conditions, and
          privacy policy.
        </p>
        <h6>Service Terms</h6>
        <p>
          The service agreement will be effective on the date when signed by both the parties and will end when
          terminated by either party in accordance with the terms and the agreement.

          Versatile IT Solutions has the authority to use its identifying mark which might come in the form of Logo, Design,
          URL or any types of brand identity to all the websites produced from here and it will come into force without
          any consent of its customers or clients.
        </p>
        <h6>Change in Use</h6>
        <p>Versatile IT Solutions reserves the sole right to:</p>
        <ul>
          <li>Change these Terms & Conditions and Privacy Policy any time without any notice.</li>
          <li>Your continued use of this website following the alteration to the Terms & Conditions, you are deemed to
            accept the changes.</li>
          <li>We are not responsible whether or not you review them. Do not use this website, if you choose not to
            accept and abide by these Terms & Conditions at any time.</li>
        </ul>
        <h6>Copyright</h6>
        <p>
          Versatile IT Solutions has the license to or otherwise permitted by law to use the trademarks, copyright and
          intellectual property rights of the site including (but not limited to) the website design, text, source codes
          and software connected to the website that is owned by us.
        </p>
        <p>
          Using this website, you are agreeing to access the content only for your personal and non-commercial use home
          use. You shall not duplicate, copy, reproduce, reuse, transmit the designs elements without the prior written
          consent of the copyright holder.
        </p>
        <p>
          You shall not download, display, perform, transmit, reproduce, license, publish, the creative works, or
          otherwise transfer, distribute or sell any information, material or content, software, services obtained from
          this website without the express written consent from the company.
        </p>
        <h6>Access To Information</h6>
        <p>
          To access Versatile IT Solutions services, the client may be asked to provide certain registration details or
          other information. The client acknowledges and confirms that all the information provided by the client is
          correct, current, and complete, by accepting these terms & conditions.
          If Versatile IT Solutions believes the information provided by the client is not correct, or complete, Versatile
          IT Solutions has the right to refuse the client's access to our website or services or any of our resources. The
          project can be terminated or suspended at any time.
          Calls may be recorded for training and quality purposes.
        </p>
        <h6>Project warranty & Source</h6>
        <ul>
          <li>Versatile IT Solutions warrants that for a period of ​24 ​months from the date of delivery (“Warranty Period”)
            the Project will be free from any bug fixing.</li>
          <li>The Project source code and other certificates for Android app and related to the project all the sources
            are assets of the Client only.</li>
        </ul>
        <h6>Confidentiality</h6>
        <ul>
          <li>A Party shall keep all information obtained from the other Party in connection with the performance of the
            Agreement strictly confidential and shall not disclose such information to any third party or the use it for
            any purpose other than the performance of the Agreement without the other Party’s prior written consent.
          </li>
          <li>The restrictions shall not apply to any information generally available to the public, obtained by a Party
            in good faith from a third party, independently developed by a Party without the use of the other Party’s
            information or required to be disclosed by law.</li>
        </ul>
        <h6>Termination</h6>
        <ul>
          <li>Either Party may terminate the Agreement at any time for any reason subject to &#8203;60&#8203; days’
            written notice to the other Party.</li>
          <li>Either Party may terminate the Agreement by written notice to the other Party, effective immediately if
            the other Party fails to remedy any material breach of the Agreement within 30&#8203; days of receiving
            written notice of such breach.</li>
          <li>In case of termination, the fees shall be paid in full to the company.</li>
        </ul>
        <h6>Damage Clause/Change Request</h6>
        <p>In case of delay in execution of Project due to client-side change requests or frequent modifications except
          for Force Majeure cases,</p>
        <ul>
          <li>The Client shall pay to the Company for every change request or delay in responding to the company a
            penalty amounting to 3% of the Total value of the milestone whose response has been delayed. </li>
          <li>The Company is entitled to terminate this Contract and claim damages, In accordance with the terms of the
            agreement. However, the Client will still be responsible for the above-mentioned Charges.</li>
        </ul>
        <h6>Agreement To The Policy</h6>
        <p>By submitting any kind of your personal information to our website, it indicates your acceptance of the terms
          given above. In case of any queries or concerns, you are always free to contact us for further assistance.</p>
      </div>
    </div>
  </div>
</div>