<!--  banner -->
<div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <div class="banner-txt2 revealOnScroll" data-animation="fadeInLeft">
                  <h1>Questi</h1>
                  <p>
                    Questi is a social media application that seeks to deliver authentic and first person interaction
                    between a user and his/followers.

                  </p>
                  <div class="port-flx">
                    <a href="https://play.google.com/store/apps/details?id=com.versatilemobitech.questi&hl=en"
                      target="_blank"><img src="assets/images/portfolio/inner/play-store.png" class="img-fluid"
                        alt="..."></a>
                    <a href="https://apps.apple.com/us/app/questi/id1276474060" target="_blank"><img
                        src="assets/images/portfolio/inner/app--store.png" class="img-fluid" alt="..."></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="port-flx2">
                  <img src="assets/images/portfolio2/questi-1.png" data-animation="fadeInLeft"
                    class="img-fluid revealOnScroll" alt="...">
                  <img src="assets/images/portfolio2/questi.png" data-animation="fadeInRight"
                    class="img-fluid revealOnScroll" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-ms-12">
      <div class="mdl-content">
        <h2>Objective</h2>
        <p>
          Questi is a social media application that seeks to deliver authentic and first person interaction between a
          user and his/followers.
        </p>
        <p>
          It works through a Q and A Format. Each user has the ability to ask a question and answer a question. Whoever
          asks the question remains anonymous forever. You can ask anyone anything without the fear of being noticed. It
          is raw information and a place where you can be yourself. When you ask a user a question only you will know
          that you asked the question and now one else. The user who received the question will not know that you have
          sent the question! This is the perfect way to ask someone personal questions that you might not be able to ask
          them face to face.
        </p>
        <!-- <h5>Important Feature</h5>
        <ol class="lsit-cnt">
          <li>we denounce with righteous indignation</li>
          <li>dislike men who are so beguiled</li>
          <li>demoralized by the charms of pleasure</li>
          <li>he rejects pleasures to secure other greater pleasures</li>
          <li>dislike men who are so beguiled</li>
        </ol> -->
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 nopad2">
      <div class="gati-limg">
        <img src="assets/images/portfolio/inner/questi-app.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div> -->